<div class="get-in-touch-section">
    <div class="section submitted-section" id="step2">
        <div class="clip"></div>
        <div class="person-image">
            @*<video class="d-block w-100" autoplay="true" muted="true" loop="true" poster="/content/images/boxingguy.jpg">
                    <source src="/assets/images/video/happy-guy.webm" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>*@
            <img src="/content/images/hipster-grandpa.png" alt="Get Starter">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Order<br />recieved</h1>
                    <h4>We’ll get in touch shortly.</h4>
                    <span class="spacer"></span>
                    <p> Meanwhile, check the latest updates and follow us</p>
                    @Html.Partial("_socialLinksLarge")
                </div>
            </div>
        </div>
    </div>
</div>