<div class="row">
    <div class="col-12">
        <div class="badges-colour text-right">
            <div class="badges-colour__icon d-flex mb-2 mx-auto justify-content-center">
                <img class="w-100 mr-1" src="/Content/images/icon__visa.svg" alt="">
                <img class="w-100 mr-1" src="/Content/images/icon__mastercard.svg" alt="">
                <img class="w-100 " src="/Content/images/icon__discover.svg" alt="">
            </div>
            <img class="badges-colour__icon d-block my-2 mx-auto" src="/Content/images/icon__ssl--colour.svg" alt="">
            <img class="badges-colour__icon d-block my-2 mx-auto" src="/Content/images/icon__free-shipping--colour.svg" alt="">
            <img class="badges-colour__icon d-block my-2 mx-auto" src="/Content/images/icon__safe-checkout--colour.svg" alt="">
            <img class="badges-colour__icon d-block my-2 mx-auto" src="/Content/images/icon__satisfaction--colour.svg" alt="">
        </div>
    </div>
</div>