<div class="badges">
    <div class="container">
        <div class="row align-items-center justify-content-between py-5">
            <div class="col-12">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <div class="badges__icon mb-3  mb-md-0 mx-3">
                        <img src="/Content/images/icon__payment-methods.svg" alt="">
                    </div>
                    <div class="badges__icon mb-3  mb-md-0 mx-3">
                        <img src="/Content/images/icon__ssl.svg" alt="">
                    </div>
                    <div class="badges__icon mb-3  mb-md-0 mx-3">
                        <img src="/Content/images/icon__free-shipping.svg" alt="">
                    </div>
                    <div class="badges__icon mb-3  mb-md-0 mx-3">
                        <img src="/Content/images/icon__safe-checkout.svg" alt="">
                    </div>
                    <div class="badges__icon mb-3  mb-md-0 mx-3">
                        <img src="/Content/images/icon__satisfaction.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>