@using EnhanceClub.WebUI.Infrastructure.Utility
<div class="dashboard-page order-page order-confirmation-page thank-you-page">
    <div class="section top-section">
        <div class="container">
            <div class="row">

                <!-- Start of Main Section -->
                <div class="col-12 col-md-12 col-lg-12">

                    <!-- Start of Filter Section -->
                    <div class="row mt-4">
                        <div class="col-12 col-md-7 col-xl-6 text-md-left">
                            <h4 class="white mb-4">Dear Customer</h4>
                            <p>
                                We already have questionnaire regarding your prescription. Our @SiteConfigurationsWc.TermForPractitioner will review your answers.
                                They will let you know ASAP if everything is good to go or if we need a bit more information before confirming your ordering eligibility.
                            </p>
                            <a href="@Url.Action("dashboard","customer")"> &#8592; Go To dashboard</a>
                        </div>

                    </div>

                </div>
                <!-- End of Main Section -->
            </div>
        </div>
    </div>
</div>