@model EnhanceClub.Domain.Entities.AffiliateInfo


    <h2>How to Order Non-Prescription Medications:</h2>

   <ul id="how-to-order">
        <li>
            <p>
                <span>1</span>Search for your medications and place them in your shopping cart
            </p>
        </li>
       
         <li>
         <p>
             <span>2</span>When you checkout you will be asked to create an account or sign into your existing account
         </p>

        <li>
            <p>
                <span>3</span>Follow the steps to complete your purchase
            </p>
        </li>
   
    </ul>

    <h4>Call Toll Free:</h4>
    <h3>@Model.StorefrontContact</h3>
