
@*---Refer and free shipping bar*@

 <a href="@Url.Action("referafriend", "Home")" class="cta">
     <img class="img-responsive" src="~/content/images/refer-friend.svg" alt="Refer a friend, earn $50">
</a>

<a href="@Url.Action("shipping", "Home")" class="cta">
    <img class="img-responsive" src="~/content/images/free-shipping.svg" alt="Free shipping">
</a>

<a href="@Url.Action("Price-Match-Guarantee", "Home")" class="cta">
    <img class="img-responsive" src="~/content/images/price-match.svg" alt="Free shipping">
</a>

