@using EnhanceClub.WebUI.Infrastructure.Utility
@using EnhanceClub.WebUI.Infrastructure.Utility

@* To display what store from sells*@
<div class="row">
    <div class="col-md-12">
        <div id="content-info">
            <h3>A large selection of Pet Meds at a great price from @SiteConfigurationsWc.StorefrontName</h3>
            <p>@SiteConfigurationsWc.StorefrontName provides its customers with only the best quality pet medications that include both prescription and over-the-counter medications at low prices. Our top selling product lines include Heartgard, Program, Frontline Plus, and Frontline.</p>
            
        </div>
    </div>
</div>