@using EnhanceClub.WebUI.Infrastructure.Utility
@using EnhanceClub.WebUI.Infrastructure.Utility

@* To display what store from sells*@
<div class="row">
    <div class="col-md-12">
        <div id="content-info">           
                <h3>@SiteConfigurationsWc.StorefrontName offers a wide variety of Generic and Brand Name Prescription Medications</h3>
            <p>
                At @SiteConfigurationsWc.StorefrontName, we carry a vast selection of prescription medications that include both generic and brand name prescription medications. Discover how you can save today by finding your prescription online through our trusted online store at @SiteConfigurationsWc.StorefrontName.
            </p>
        </div>
    </div>
</div>