@using EnhanceClub.WebUI.Infrastructure.Utility
@using EnhanceClub.WebUI.Infrastructure.Utility

@* To display what store from sells*@
<div class="row">
    <div class="col-md-12">
        <div id="content-info">
            <h3>@SiteConfigurationsWc.StorefrontName provides the largest and best Discounted OTC Medications online</h3>
            <p>@SiteConfigurationsWc.StorefrontName has high quality over-the-counter (OTC) medications at discounted prices.  Search through our extensive list of over-the-counter medications by selecting a letter or using the search box. Our OTC medications include but are not limited to skin care, allergy, and pain relief products.</p>
            
        </div>
    </div>
</div>