

<div class="privacy-banner terms">
    <div class="privacy-clip"></div>
    <!-- <div class="person-image">
        <video autoplay="true" muted="true" loop="true" poster="/content/images/video/style.png">
            <source src="/content/images/video/style.webm" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <img src="/assets/images/terms.png" alt="Terms & Conditions">
    </div> -->
    <div class="container hidden-xs">
        <div class="row">
            <div class="col">
                <!-- <h1>OVERVIEW</h1> -->
                <h1>Consent to Use Electronic Communications </h1>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="small-container">
            <div class="row">
                <div class="col">

                    <h2>Consent to Use Telehealth Services</h2>

                    <p>
                        This Consent to Use Telehealth Services contains important information you should be aware of before receiving healthcare services through electronic communications (“Telehealth Services”) with your Licensed Health Care Provider (“Provider”). Telehealth Services refer to the provision of healthcare services via synchronous and asynchronous telecommunications technologies, such as, secure messaging and transmission of your health records, video conferencing or telephone.
                    </p>
                    <h5>Risks</h5>
                    <ul type="1">
                        <li>
                            The Licensed Health Practitioner will use reasonable means to protect the security and confidentiality of information sent and received using the Services (“Services” is defined in the attached Consent to use electronic communications). However, because of the risks outlined below, the Licensed Health Practitioner cannot guarantee the security and confidentiality of electronic communications:
                        </li>
                        <li>
                            Use of electronic communications to discuss sensitive information can increase the risk of such information being disclosed to third parties.
                        </li>
                        <li>
                            Despite reasonable efforts to protect the privacy and security of electronic communication, it is not possible to completely secure the information.
                        </li>
                        <li>
                            Employers and online services may have a legal right to inspect and keep electronic communications that pass through their system.
                        </li>
                        <li>
                            Electronic communications can introduce malware into a computer system, and potentially damage or disrupt the computer, networks, and security settings.
                        </li>
                        <li>
                            Electronic communications can be forwarded, intercepted, circulated, stored, or even changed without the knowledge or permission of the Licensed Health Practitioner or the patient.
                        </li>
                        <li>
                            Even after the sender and recipient have deleted copies of electronic communications, back-up copies may exist on a computer system.
                        </li>
                        <li>
                            Electronic communications may be disclosed in accordance with a duty to report or a court order.

                        </li>
                        <li>
                            Videoconferencing using services such as Skype or FaceTime may be more open to interception than other forms of videoconferencing.
                        </li>
                    </ul>
                    <h5>If the email or text is used as an e-communication tool, the following are additional risks:</h5>
                    <ul type="1">
                        <li>
                            Email, text messages, and instant messages can more easily be misdirected, resulting in increased risk of being received by unintended and unknown recipients.
                        </li>
                        <li>
                            Email, text messages, and instant messages can be easier to falsify than handwritten or signed hard copies. It is not feasible to verify the true identity of the sender, or to ensure that only the recipient can read the message once it has been sent.
                        </li>
                    </ul>
                    <h5>Conditions of Using the Services:</h5>

                    <ul type="1">
                        <li>
                            While the Licensed Health Practitioner will attempt to review and respond in a timely fashion to your electronic communication, the Licensed Health Practitioner cannot guarantee that all electronic communications will be reviewed and responded to within any specific period of time. The Services will not be used for medical emergencies or other time-sensitive matters.
                        </li>
                        <li>
                            If your electronic communication requires or invites a response from the Licensed Health Practitioner and you have not received a response within a reasonable time period, it is your responsibility to follow up to determine whether the intended recipient received the electronic communication and when the recipient will respond.
                        </li>
                        <li>
                            Electronic communication is not an appropriate substitute for in-person or over-the-telephone communication or clinical examinations, where appropriate, or for attending the Emergency Department when needed. You are responsible for following up on the Licensed Health Practitioner’s electronic communication and for scheduling appointments where warranted.
                        </li>
                        <li>
                            Electronic communications concerning diagnosis or treatment may be printed or transcribed in full and made part of your medical record. Other individuals authorized to access the medical record, such as staff and billing personnel, may have access to those communications.
                        </li>
                        <li>
                            The Licensed Health Practitioner may forward electronic communications to staff and those involved in the delivery and administration of your care. The Licensed Health Practitioner might use one or more of the Services to communicate with those involved in your care. The Licensed Health Practitioner will not forward electronic communications to third parties, including family members, without your prior written consent, except as authorized or required by law.
                        </li>
                        <li>
                            You agree to inform the Licensed Health Practitioner of any types of information you do not want sent via the Services.  You can add to or modify this information at any time by notifying the Licensed Health Practitioner in writing.
                        </li>
                        <li>
                            Some Services might not be used for therapeutic purposes or to communicate clinical information. Where applicable, the use of these Services will be limited to education, information, and administrative purposes.
                        </li>
                        <li>
                            The Licensed Health Practitioner is not responsible for information loss due to technical failures associated with your software or internet service provider.

                        </li>
                    </ul>

                    <h5>Instructions for communication using the Services</h5>
                    <p>
                        To communicate using the Services, you must:
                    </p>
                    <ul type="1">
                        <li>
                            Reasonably limit or avoid using an employer’s or other third party’s computer.
                        </li>
                        <li>
                            Inform the Licensed Health Practitioner of any changes in the patient’s email address, mobile phone number, or other account information necessary to communicate via the Services.
                        </li>

                    </ul>

                    <h5>If the Services include email, instant messaging and/or text messaging, the following applies:</h5>

                    <ul type="1">
                        <li>
                            Include in the message’s subject line an appropriate description of the nature of the communication (e.g. “prescription renewal”), and your full name in the body of the message.
                        </li>
                        <li>
                            Review all electronic communications to ensure they are clear and that all relevant information is provided before sending to the Licensed Health Practitioner.
                        </li>
                        <li>
                            Ensure the Licensed Health Practitioner is aware when you receive an electronic communication from the Licensed Health Practitioner, such as by a reply message or allowing “read receipts” to be sent.
                        </li>
                        <li>
                            Take precautions to preserve the confidentiality of electronic communications, such as using screen savers and safeguarding computer passwords.
                        </li>
                        <li>
                            Withdraw consent only by email or written communication to the Licensed Health Practitioner.
                        </li>
                        <li>
                            If you require immediate assistance, or if your condition appears serious or rapidly worsens, you should not rely on the Services. Rather, you should call the Licensed Health Practitioner’s office or take other measures as appropriate, such as going to the nearest Emergency Department or urgent care clinic.
                        </li>

                    </ul>
                    <h5>Confidentiality</h5>

                    <p>
                        We will make every effort required by law to protect the privacy of all communications associated with Telehealth Services.  Given the nature of electronic communication technologies, we cannot guarantee the confidentiality of our communications, or protection against unauthorized access to our communications.  As required by law, we will use updated encryption methods, firewalls, and back-up systems to help keep your information private, but please be aware of the risk that electronic communications may be compromised, unsecured, or accessed by others.  You should also take reasonable steps to ensure the security of our communications (for example, only using secure networks for telehealth sessions and having passwords to protect the device you use for telehealth).
                    </p>
                    <h5>PATIENT ACKNOWLEDGMENT AND AGREEMENT:</h5>
                    <ol>
                        <li>
                            I acknowledge that I have read and fully understand the risks, limitations, conditions of use, and instructions for use of Telehealth Services described in this Consent to Use Telehealth Services.  I have also read and fully understand the Terms of Use and Privacy Policy that govern the telehealth platform and the Provider’s Notice of Privacy Practices that governs my Protected Health Information.
                        </li>
                        <li>
                            It is my responsibility to provide accurate, complete, and current information about me and my health condition(s) to my Provider while receiving Telehealth Services. I am responsible for following up on my Provider’s electronic communication and to schedule in-person appointments with my regular physician when warranted.

                        </li>
                        <li>
                            I acknowledge that the privacy of all communications associated with Telehealth Services will be protected in accordance with the Provider’s Notice of Privacy Practices.  I am responsible for taking reasonable and appropriate efforts to mitigate any risk to my privacy during Telehealth Service sessions. This includes participating in Telehealth Services only while in a private location where other people are not present and cannot overhear the conversation during an asynchronous visit or see the messages between myself and my Provider.
                        </li>
                        <li>
                            I acknowledge and accept the risks of using electronic communications for the purposes of Telehealth Services, which include, but are not limited to, interruptions or terminations, technical difficulties, or unauthorized access. I consent to any conditions that the Provider may impose on communications with patients using Telehealth Services.
                        </li>
                        <li>
                            I acknowledge that either I or the Provider may terminate Telehealth Services upon providing written notice at any time.

                        </li>
                        <li>
                            I acknowledge that I can withhold or withdraw my consent to receive Telehealth Services without affecting my right to future care or treatment. I also understand that it is my responsibility to contact the Provider with any questions or concerns about Telehealth Services. By participating in Telehealth Services, I acknowledge and agree that I have no questions or concerns that would preclude me from participating in Telehealth Services.
                        </li>
                        <li>
                            I am responsible for all charges (a) that I may incur from my mobile or internet service provider, as applicable, when receiving Telehealth Services; and (b) that are not covered by my insurer or third-party payor, including any applicable deductibles or co-payments that apply to Telehealth Services. It is my responsibility to determine whether my insurance covers Telehealth Services.
                        </li>
                        <li>
                            I understand that Telehealth Services are not intended to be used in the event of an emergency. If I am experiencing an emergency, I will not rely on Telehealth Services and will call 911.
                        </li>
                      
                    </ol>
                   
                    <p>
                        I understand what it means to receive Telehealth Services and am legally authorized to acknowledge, agree, and consent to the use of Telehealth Services.
                    </p>
                    <p>
                        By joining any Telehealth Service encounter, I represent that I have read, understand, and agree to this Consent to Use Telehealth Services. I have been advised of the potential risks, benefits, limitations, alternatives, conditions of use, and instructions for use of Telehealth Services; I have been given the opportunity to ask questions and have no remaining questions at this time; and I hereby give my informed consent for the use of Telehealth Services in my medical care.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>