@using EnhanceClub.WebUI.Infrastructure.Utility

<div class="privacy-banner terms">
    <div class="privacy-clip"></div>
    <!-- <div class="person-image">
        <video autoplay="true" muted="true" loop="true" poster="/content/images/video/style.png">
            <source src="/content/images/video/style.webm" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <img src="/assets/images/terms.png" alt="Terms & Conditions">
    </div> -->
    <div class="container hidden-xs">
        <div class="row">
            <div class="col">
                <!-- <h1>OVERVIEW</h1> -->
                <h1>Terms &amp;<br>Conditions</h1>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="small-container">
            <div class="row">
                <div class="col">
                    <h2 class="visible-xs">Enhance Club Terms & Conditions</h2>
                    @*<h5 class="hidden-xs">Terms of Use of our Platform(s) </h5>*@
                    <h5 class="hidden-xs">Enhance Club Terms of Use</h5>
                    <p style="font-weight:bold;">Last Updated: April 8, 2021</p>

                    <h5>1.	User Acknowledgement and Acceptance of Terms of Use</h5>
                    <p>
                        Please carefully review these Terms of Use, as well as Enhance Club’s Privacy Policy (available at: [web address]), prior to using @Html.ActionLink("enhanceclub.com", "Index", "home") (the “Platform”) and any services, features, Content, or products offered by Enhance Club (together with the Website, the “Services”). These Terms of Use, together with the Privacy Policy, constitute a legally binding agreement between you and Enhance Club (“we” or “us”) with respect to your use of the Services. By accessing, browsing, or otherwise using the Services, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use, including the Privacy Policy; all other operating rules, policies, and procedures that we may publish from time to time on the Platform; and any other applicable terms presented to you by Enhance Club, including any additional terms or future modifications. Your use of the Services is subject to all such terms and conditions, which are hereby incorporated into these Terms of Use by reference.
                    </p>
                    <h5>2.	The Platform and Services</h5>
                    <p>
                        Our Platform allow you and other users to access the services of health care providers, including to receive assistance with prescriptions and relevant information relating to pharmaceutical products.
                    </p>
                    <p>
                        WE ARE NOT A HEALTH CARE PROVIDER (“HCP”) AND ARE NOT ENGAGED IN THE PRACTICE OF MEDICINE OR ANY OTHER REGULATED HEALTH PROFESSION.  WE ONLY PROVIDE TOOLS TO SUPPORT THE PROVISION OF HEALTH CARE-RELATED SERVICES BY HCPs.  ACCORDINGLY, WE ARE NOT LIABLE FOR ANY MEDICAL AND/OR PHARMACY SERVICES PROVIDED TO YOU BY HCPs OR SUBSEQUENT SUPPORT SERVICES PROVIDED BY THEIR AGENTS, INCLUDING ANY MISDIAGNOSES, MISREPRESENTATIONS, OR OTHER ACTS OR OMISSIONS OF HCPs.  NONE OF THE CONTENT ON THE PLATFORM IS MEDICAL ADVICE OR AN ENDORSEMENT, REPRESENTATION OR WARRANTY REGARDING THE SAFETY, APPROPRIATENESS OR EFFECTIVENESS OF ANY PARTICULAR TREATMENT, MEDICATION OR SERVICE FOR YOU. IF YOU ARE EXPERIENCING A MEDICAL EMERGENCY, CALL 911.
                    </p>
                    <p>ALL HCPs ARE INDEPENDENT, REGULATED HEALTH PROFESSIONALS, LICENSED TO PROVIDE MEDICAL OR PHARMACY SERVICES IN ONE OR MORE OF THE PROVINCES WITHIN CANADA AND ARE SOLELY RESPONSIBLE FOR THE PROVISION OF MEDICAL OR OTHER HEALTH CARE SERVICES AND CONSULTATIONS, INCLUDING ISSUING PRESCRIPTIONS AND PHARMACY SERVICES TO YOU IN ACCORDANCE WITH APPLICABLE PROFESSIONAL STANDARDS AND LAWS.  HCPs may be located in the Province or Territory in which you reside, or another Province or Territory in Canada, as permitted by applicable law.  </p>
                    <p>THE PLATFORM IS NOT A SUBSTITUTE FOR THE ADVICE AND MEDICAL CARE PROVIDED BY YOUR HCP.</p>
                    <p>Your use of the Platform does not establish a HCP-patient relationship between you and us or the Platform. Each HCP is using the Platform pursuant to a service contract with us and for the HCP’s own use and purposes. As such, the HCP is ultimately responsible for all communications with you conducted through the Platform in accordance with any arrangement between you and the HCP.</p>
                    <p>The Content contained in our Platform, is for informational purposes only. For purposes of these Terms of Use, “Content” includes information, text, photographs, images, videos, audio clips, written posts, and other materials generated, provided, or made available on or through the Services. The Content is not validated by Canada’s Food & Drugs Act and Regulation (“FDA”) and is in no way meant to be a substitute for professional medical advice, diagnosis or treatment. Always seek the advice of your physician or other qualified HCP with any questions you may have regarding a medical condition or health concern. Your use of any information provided by or via the Platform is solely at your own risk.  The Platform is not intended to be exhaustive and do not cover all diseases, ailments, physical conditions, or their respective treatments. Please contact your physician or other HCP promptly should you have any health-related concerns. </p>
                    <p>We may periodically update, or correct information presented on the Platform and such information, or other information on the Platform, may include typographical errors and/or technical inaccuracies and/or omissions.  We make no representation or warranty as to the accuracy of any information on the Platform and expressly disclaim any obligation to update such information.  We also reserve the right to make additions, deletions or modifications to any information at any time and from time to time without any prior notice.  </p>
                    <p>
                        <span style="font-weight:bold;">DISCLAIMER.</span> IN NO EVENT SHALL WE BE LIABLE TO YOU, ANY OTHER USER OF THIS SITE, THIRD-PARTY PROVIDERS OR ANY OTHER PERSON OR ENTITY FOR ANY SPECIAL, INCIDENTAL, PUNITIVE, CONSEQUENTIAL, EXEMPLARY OR OTHER INDIRECT DAMAGES (INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, LOSS OF USE OR COSTS OF OBTAINING SUBSTITUTE GOODS OR SERVICES) ARISING OUT OF THE USE, INABILITY TO USE, UNAUTHORIZED ACCESS TO OR USE OR MISUSE OF THIS SITE, WHETHER BASED UPON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES.
                    </p>
                    <p>
                        <span style="font-weight:bold;">EXCLUSIONS.</span> SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF CERTAIN LIABILITY. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
                    </p>
                    <h5>3.	User Eligibility</h5>
                    <p>
                        The Services are not intended for use by individuals under 18 years of age. You represent and warrant that you are at least 18 years of age.
                    </p>
                    <h5>4.	Changes to Terms and Notice of Changes</h5>
                    <p>
                        We reserve the right to change or modify these Terms of Use, or to change, suspend, or discontinue the Services, at any time, at our sole discretion by posting a notice on the Platform. It is your responsibility to review these Terms of Use periodically for changes. Your continued use of the Services following any changes to these Terms of Use constitutes acceptance of those changes.
                    </p>
                    <h5>5.	Restrictions and Acceptable Use</h5>
                    <p>
                        You agree that you will not:
                        <ul>
                            <li>license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Services;</li>
                            <li>modify or make derivative works based upon the Services;</li>
                            <li>reverse engineer, decompile, translate, or otherwise affect any computer code or item related to the Services; or</li>
                            <li>launch an automated program or script that may make multiple server requests per second, or unduly burden or hinder the operation and/or performance of the Services;</li>
                            <li>send spam or otherwise duplicative or unsolicited messages in violation of applicable laws;</li>
                            <li>send or store infringing, obscene, threatening, libelous, or otherwise unlawful or tortious material, including material harmful to children or violative of third party privacy rights;</li>
                            <li>send or store material containing software viruses, worms, trojan horses, or other harmful computer code, files, scripts, agents or programs;</li>
                            <li>interfere with or disrupt the integrity or performance of the Services or the data contained therein;</li>
                            <li>attempt to gain unauthorized access to the Services, related systems or networks, or other networks or servers; or</li>
                            <li>use the Services to attempt to impersonate another person or entity; to collect information about other users; or to advertise or offer to sell any goods or services or solicit donations.</li>

                        </ul>
                        You are responsible for the information you submit through the Platform and we assume no responsibility or liability for any Content submitted by you or any other user of the Platform. We may, but are not obligated to, restrict or remove any and all Content that we determine in our sole discretion violates these Terms of Use or is otherwise harmful to us, our customers, or any third party.  We reserve the right to remove Content you provide at any time, but you understand that we may preserve and access a back-up copy, and we may disclose the Content if required to do so by law or in a good faith belief that such access, preservation, or disclosure is required by law or in our best interests.
                    </p>
                    <h5>6.	Intellectual Property and License to Use the Platform</h5>
                    <p>
                        The Content is protected by copyright and/or other intellectual property laws.  You promise to abide by all copyright notices, trademark rules, information, and restrictions contained in any Content you access through the Platform, and you will not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell, commercialize or otherwise exploit for any purpose any Content not owned by you, without the prior consent of the owner of that Content or in a way that violates any third party’s rights.
                    </p>
                    <p>Subject to these Terms of Use, we grant you a personal, non-transferable, non-exclusive, revocable, limited license to view and access the Content on the Platform. All rights, title and interest in and to the Platform, including the Content, and all intellectual property rights will remain with us and our respective licensors and vendors, and no ownership interest is transferred to you or any other entity by virtue of making the Content available on the Platform, granting the foregoing licenses or entering into these Terms of Use.  We may terminate this license at any time for any reason. If you breach any of these Terms of Use, your license to the Content will terminate immediately.  Upon the termination of this license, you must stop using the Platform, including all Content, and return or destroy all copies, including electronic copies, of the content in your possession or control.</p>
                    <p>If you submit Content through the Platform, and unless we indicate otherwise, you grant us a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such Content throughout the world in any media.  You grant us and any of our sub-licensees the right to use the name that you submit in connection with such Content.  You represent and warrant that you own or otherwise control all of the rights to the Content that you submit; that the Content is accurate; and that use of the Content you supply does not violate these Terms of Use and will not cause injury to any person or entity.</p>
                    <h5>7.	Disclaimer of Warranties</h5>
                    <p>
                        All Content on the Platform is provided to you on an “as is”, “as available” basis.  To the extent permitted by applicable law, Enhance Club, all third parties (if any) providing content for the Platform, and all third parties providing support or information for the Platform hereby disclaim all warranties of any kind, either express or implied, statutory or otherwise, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
                    </p>
                    <h5>8.	Links to Third Party Websites</h5>
                    <p>
                        While accessing the Platform, you may click on a link to other websites and leave the Platform.  We may provide links to other websites that may contain information that may be useful or interesting to you. We do not endorse, and are not responsible for, the content and accuracy of linked websites operated by third parties or for any of your interactions with such third parties. Linked websites are subject to their own privacy policies and terms of use.  We encourage you to review those policies when accessing those sites. 
                        <br /><br />
                        Some jurisdictions do not allow limitations on implied warranties, in which case, this disclaimer may not apply to you.
                    </p>
                    <h5>9.	Indemnification</h5>
                    <p>
                        You agree to defend, indemnify and hold us and our licensors, and each such party’s parent organizations, subsidiaries, affiliates, officers, directors, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys’ fees and costs) arising out of, in connection with, or related to: (a) your violation or breach of these Terms of Use or any applicable law or regulation, whether or not referenced herein; (b) your violation of any rights of any third party, or (c) your use or misuse of the Services.
                    </p>
                    <h5>10.	Notices</h5>
                    <p>
                        We may provide notice to you by posting a general notice on the Platform, email to your email address (if on record with us), or by written communication sent by first class mail or pre-paid post to your address (if on record with us). Notice will be deemed to have been given 48 hours after mailing or posting (if sent by first class mail or pre-paid post) or 12 hours after sending (if sent by email). You may give notice to us, and such notice will be deemed given when received by us, at any time by letter delivered by nationally recognized overnight delivery service or first class postage prepaid mail to us at the following address:

                        <address style="margin: 3%;">
                            EnhanceClub.com <br>
                            1688 152<sup>nd</sup> Street, Suite 203<br>
                            Surrey, BC V4A 4N2<br>
                        </address>
                    </p> 
                   
                    <h5>11.	Assignment</h5>
                    <p>
                        You may not assign these Terms of Use without our prior written approval. We may assign these Terms of Use, including to an affiliated entity, an acquirer of our assets, or a successor by merger, without your consent.
                    </p>
                    <h5>12.	Miscellaneous</h5>
                    <p>
                        No joint venture, partnership, employment, or agency relationship exists between you, us, or any HCP as a result of these Terms of Use or your use of the Services. If any provision of these Terms of Use is held to be invalid or unenforceable by a court of competent jurisdiction, such provision will be struck and the remaining provisions will be enforced to the fullest extent under law. Our failure to enforce any right or provision in these Terms of Use will not constitute a waiver of such right or provision.
                    </p>
                    <h5>13.	Void Where Prohibited </h5>
                    <p>
                        The Platform and its contents are intended to comply with laws and regulations in Canada. Although the information on the Platform is accessible to users outside Canada, the information pertaining to our products and services is intended for use only by residents of Canada. Other countries may have laws, regulatory requirements and medical practices that differ from those in Canada. Any offer for any product of service made on the Platform is void where prohibited.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>