<div class="col-12 col-lg-3">
    <div class="documents-section-steps d-none d-lg-block">
        <div class="section">
            <ul class="steps dark">
                <li class="side-nav" data="0" parent="0">
                    <a id="idUploadLink" name="idUploadLink" class="active">
                        <span class="counter">1</span>
                        <p>
                            Upload Your ID Documents
                        </p>
                    </a>
                </li>
                <li parent="1">
                    <a name="rxUploadLink" class="" id="rxUploadLink">
                        <span class="counter">2</span>
                        <p>
                            Upload Your Prescription
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>