@model dynamic

<div class="row">
    <div class="col-md-12">
        <h2>Your are now removed from our Newsletter</h2>
        <p>
            We are sorry to let you go from our newsletter.<br><br>
        </p>
        
        <p>
            In case you would like to join again, please go to @Html.ActionLink("click here", "Index", "Blog")
            <br /><br />
        </p>

         </div>
</div>