@model dynamic

<div class="gif-group text-center">
    <ul class="motion_video list-unstyled justify-content-between d-flex m-0">
        <li class="d-none d-xxl-flex">
            <video class="d-block" autoplay="true" poster="/content/images/video/jammingguy.png" muted="true" loop="true">
                <source src="/content/images/video/jammingguy.webm" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </li>
        <li class="d-none d-lg-flex">
            <video class="d-block" autoplay="true" poster="/content/images/video/businessman.png" muted="true" loop="true">
                <source src="/content/images/video/businessman.webm" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </li>
        <li class="d-none d-md-flex">
            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/hipster.png">
                <source src="/content/images/video/hipster.webm" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </li>
        <li class="d-none d-md-flex">
            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/oldguy.png">
                <source src="/content/images/video/oldguy.webm" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </li>
        <li class="d-none d-xxl-flex">
            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/dancingguy.png">
                <source src="/content/images/video/dancingguy.webm" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </li>
    </ul>
    <!-- /.motion_video -->
</div>

<!-- /.gif-group -->