<div class="practitioner-container mt-5">
    <div class="in-y-s container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-5">Meet our Team</h2>
            </div>
        </div>
        <div class="row justify-content-md-between mb-5">
            <div class="col-md-12">
                <div class="practitioner-grid">
                    <div class="intro-y-s practitioner-grid__item">
                        <div class="practitioner">
                            <img src="/Content/images/home-page/dr-jodhvir-sarai.png" alt="">
                            <p>
                                Dr. Jodhvir Sarai
                                <span>Chief Medical Officer</span>
                            </p>
                        </div>
                    </div>
                    <div class="intro-y-s practitioner-grid__item">
                        <div class="practitioner">
                            <img src="/Content/images/home-page/marco-gnoato.png" alt="">
                            <p>
                                 Marco Gnoato
                                <span>Family Nurse Clinician</span>
                            </p>
                        </div>
                    </div>
                    <div class="intro-y-s practitioner-grid__item">
                        <div class="practitioner">
                            <img src="/Content/images/home-page/marina-rosu.png" alt="">
                            <p>
                                Marina Rosu
                                <span>Family Nurse Clinician</span>
                            </p>
                        </div>
                    </div>
                    <div class="intro-y-s practitioner-grid__item">
                        <div class="practitioner">
                            <img src="/Content/images/home-page/nikita-ivanov.png" alt="">
                            <p>
                                Nikita Ivanov
                                <span>Family Nurse Clinician</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>