<div class="container">
    <div class="row align-items-center">
        <div class="col-md-12 col-lg-6 order-2 order-lg-1 align-self-end">
            <img class="mt-5" src="../Content/images/doctor.png" alt="">
        </div>
        <div class="col-md-12 col-lg-6 order-1 order-lg-2">
            <h3 class="mt-5">How it Works</h3>
            
            <div class="d-flex mb-4">
                <ol>
                    <li> Select your products and check out</li>
                    <li> Complete the Telehealth consult form</li>
                    <li> Once your prescription is approved, your order will be shipped discreetly</li>
                </ol>
            </div>

            <a href="@Url.Action("Products", "Product")" class="btn btn-default btn-rounded px-5 mb-5">Browse Products</a>

            @*<p>To consult our Healthcare Practitioners</p>
        <div class="d-flex mb-4">
            <a href="@Url.Action("Login","Customer")" class="btn btn-outline-secondary btn-rounded mr-3"><b>GET A NEW PRESCRIPTION</b></a>
            <a href="@Url.Action("Login","Customer")" class="btn btn-outline-secondary btn-rounded"><b>REFILL A PRESCRIPTION</b></a>
        </div>*@


        </div>
    </div>
</div>