@using EnhanceClub.WebUI.Infrastructure.Utility

 
<div class="steps-container mb-0">
    <div class="in-y container">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="d-flex">
                    <div class="steps__details-slide pr-3">
                        <div class="steps__details details__item-1">
                            <p class="steps__details__number">
                                <b>Step 1</b>
                            </p>
                            <p class="h2">Select a product</p>
                            <p class="steps__details__content">Choose the enhancement that you’re looking for. If you don’t have a preference, that’s totally all right. Select any product and dosage and click on “Buy Now” to continue with the ordering process. Our clinician will contact you to recommend the right medication based on your needs.</p>
                        </div>
                        <div class="steps__details details__item-2">
                            <p class="steps__details__number">
                                <b>Step 2</b>
                            </p>
                            <p class="h2">Get in touch with a @SiteConfigurationsWc.TermForPractitioner.ToLower()</p>
                            <p class="steps__details__content">
                                Fill out an online telehealth assessment form, and a licensed clinician will review it and contact you to create a personalized treatment plan. Get medication prescribed from the comfort of your home without the hassles of booking an appointment or long waiting lines.
                            </p>
                        </div>
                        <div class="steps__details details__item-3">
                            <p class="steps__details__number">
                                <b>Step 3</b>
                            </p>
                            <p class="h2">Discreet packaging + Free delivery</p>
                            <p class="steps__details__content">
                                Once your treatment plan has been approved, we will process your order for dispatch. Your discreetly packaged order will be delivered to you fast and for free.
                            </p>
                        </div>
                    </div>
                    <div class="steps__nav">
                        <div class="prev"><img src="/Content/images/home-page/prev-arrow.svg" alt=""></div>
                        <div class="next"><img src="/Content/images/home-page/next-arrow.svg" alt=""></div>
                        <div class="steps__counter"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="steps__images">
                    <div class="steps__image--size">
                        <img src="/content/images/home-page/step-1.png" alt="">
                    </div>
                    <div class="steps__image image__item-1 active" data-step-index="0">
                        <img src="/content/images/home-page/step-1.png" alt="">
                    </div>
                    <div class="steps__image image__item-2" data-step-index="1">
                        <img src="/content/images/home-page/step-2.png" alt="">
                    </div>
                    <div class="steps__image image__item-3" data-step-index="2">
                        <img src="/content/images/home-page/step-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>