<div class="enhance-testimonial enchance-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-right">
                <h2>Enhance Reputation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="testimonial">
                    <li>
                        <h5>Oswald Kragger</h5>
                        <p>
                            My life has changed since I started using enhance club! My confidence level is through the roof thanks to them.
                        </p>
                    </li>
                    <li>
                        <h5>Don Letterman</h5>
                        <p>
                            Their customer service and reputation as a brand is remarkable. I can put my trust in them as a company when it comes to the quality of their products.
                        </p>
                    </li>
                    <li>
                        <h5>Taylor Prifti</h5>
                        <p>
                            When I started loosing my hair at 30 that was all I was ever thinking about. But since I started taking their hair growth formula I feel like I am twenty something again with nothing stopping me.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.enhance-testimonial -->