@using EnhanceClub.WebUI.Infrastructure.Utility

<div class="testimonial-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Customer Reviews
                </h2>
                <p class="mb-5">Find out what our customers are saying about us.</p>
            </div>
        </div>
        <div class="row">
            <div class="in-y col-md-6 col-lg-3">
                <div class="testimonial__item">
                    <div class="testimonial__rating">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                    </div>
                    <p>
                        <b>Andy-Raye</b>
                        great company delivering better 'enhanced' relationships.
                    </p>
                </div>
            </div>
            <div class="in-y col-md-6 col-lg-3">
                <div class="testimonial__item">
                    <div class="testimonial__rating">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                    </div>
                    <p>
                        <b>Peter</b>
                        A true pleasure using a business that goes the extra distance in customer satisfaction! Bravo, enhance club!
                    </p>
                </div>
            </div>
            <div class="in-y col-md-6 col-lg-3">
                <div class="testimonial__item">
                    <div class="testimonial__rating">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                    </div>
                    <p>
                        <b>Doug</b>
                        Courtious service. Very informative website. Arrived as described.
                    </p>
                </div>
            </div>
            <div class="in-y col-md-6 col-lg-3">
                <div class="testimonial__item">
                    <div class="testimonial__rating">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                        <img src="/Content/images/home-page/rating-filled.svg" alt="">
                    </div>
                    <p>
                        <b>Rocky</b>
                        Overall great experience with my order from start to end. Professional company and a quality product delivered to your door. I will definitely use them again when I need a refill.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>