@using EnhanceClub.WebUI.Infrastructure.Utility


    <main class="about-page">
    <div class="about-section-banner">       
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2>REWARD YOURSELF AND YOUR PARTNER</h2>
                </div>
            </div>
        </div>
    </div>
    <section class="section story-behind">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <h1 class="h3">Our Story</h1>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9 content">
                    <h5>
                        Enhance Club was designed to create a seamless experience for all users looking to take control of their sexual health and personal confidence.
                        We’re committed to granting all guys the freedom to explore the endless possibilities to achieve the best version of themselves.
                        Enhance Club believes in never holding anything back and we’re here to make sure you don’t either.
                    </h5>
                </div>
            </div>
        </div>
    </section>
    <div class="orange-section">
        <div class="orange-gradient-box"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 content">
                    <h3>Mission</h3>
                    <p>
                        Enhance Club is committed to making cost effective medications and products accessible to the “average Joe”. We’re excited to share our passion for creating pleasurable moments and making room for new experiences at every stage in our lives. We believe that creating pleasurable moments starts with grabbing hold of the best version of yourself.
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="hidden-xs hidden-md mission-banner-image"
                         style="background-image: url('../../Content/images/wink.png');"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <div class="testimonials-slider owl-carousel owl-theme">
            <div class="testimonial">
                <h3>
                    Straight up, I was uncomfortable getting help for my ED. Seeing an Enhance Club @SiteConfigurationsWc.TermForPractitioner and getting a Viagra prescription over my smartphone is exactly what I needed, hands down.
                </h3>
                <p>David</p>
            </div>
            <div class="testimonial">
                <h3>
                    I wanted this to be easy, affordable and discreet. I got all 3 with zero hassles getting my ED Meds. I don’t get why more businesses don’t work this way. Enhance Club nails how to do it right.
                </h3>
                <p>John</p>
            </div>
            <div class="testimonial">
                <h3>
                    Not much to say other than it was dead simple and super convenient. I got what I paid for, had great service, and didn’t have to give it another thought after ordering.  I’ll keeping using Enhance Club.
                </h3>
                <p>Michael</p>
            </div>
        </div>
    </section>
</main>