@model dynamic


<div class="row ">
    
<div class="cppi-banner">
    <table class="table-responsive">
        <tr class="hide-for-mobile">
            <td>
                <a href="https://personalimportation.org/" rel="nofollow" target="_blank">
                    <img src="~/content/images/cppi-logo-large.png" alt="CPPI logo" title="Compaign for Personal Prescription Importation">
                </a>

            </td>
            <td>
                Take Action today and join the <a href="https://personalimportation.org/" rel="nofollow" target="_blank">Compaign for Personal Prescription Importation </a>
                <br/><em>The FDA, the NABP and their allies are fighting to deny your right to personal importation. How personal is that to You?</em>
            </td>
        </tr>
                
        <tr class="show-for-mobile">
            <td class="centered cppi-info">
                <a href="https://personalimportation.org/" rel="nofollow" target="_blank">
                    <img src="~/content/images/cppi-logo-large.png" alt="CPPI logo" title="Compaign for Personal Prescription Importation">
                </a>
                        
                Take Action today and join the <a href="https://personalimportation.org/" rel="nofollow" target="_blank">Compaign for Personal Prescription Importation </a>
                <br/><em>The FDA, the NABP and their allies are fighting to deny your right to personal importation. How personal is that to You?</em>
            </td>
        </tr>

    </table>
    
    </div>
</div>