@model EnhanceClub.Domain.Entities.AffiliateInfo
<div class="content-container container home-content">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mn green">About Alex Covey, PharmD </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 mobile-padding">

            <p>
                Alex Covey is a pharmacist and early phase clinical research specialist. He completed his undergraduate studies with a focus on chemistry and microbiology, and then completed pharmacy school and obtained his PharmD (pharmacy degree). Alex also has professional experience in community pharmacy, inpatient hospital, and compounding.
            </p>
            <p>
                His belief in improving the quality of life for the world through science led him to focus on clinical research. Alex upholds the thoroughness of the scientific method and he is confident that ethical trials can lead to the advancement of medicine.
            </p>
            <p>
                Alex’s mission as a medical communicator is to empower others by providing information in an easily understood manner. He firmly upholds the ethical principles of the American Medical Writer’s Association, and he is devoted to improving the accessibility of knowledge for everyone.
            </p>


        </div>

        <!-- right section-->
        <div class="col-sm-4 mobile-padding">
            <img src="/content/images/author/dr-alex-covey.jpg" alt="Dr Alex Covey" title="Dr Covey" />
        </div>

        @*<div class="row">
            <div class="col-sm-8 mobile-padding">
                <h3>Reference</h3>
                <p>Dr. Alex Covey, Pharm D -<i><a href="https://www.linkedin.com/in/alex-covey-36912b96/" class="green" rel="nofollow noreferrer noopener" target="_blank"> LinkedIn profile</a></i></p>
            </div>
        </div>*@

    </div>

</div>
