@using EnhanceClub.WebUI.Infrastructure.Utility

@using EnhanceClub.WebUI.Infrastructure.Utility

<div class="container container-standard home-text">
    <h1>Drug Safety</h1>
    <div class="row">
        <div class="col-md-12">


            <p>
                Part of what makes canadapharmay.ca such a reputable online pharmacy is the way we’re known for sourcing only quality brand name and generic medications that are safe, effective, affordable, and genuine medications. 

            </p>

            
            <p>
                We follow a number of safety procedures and protocols that work to ensure that the prescription and OTC medications we provide for our customers is always quality medication that can be taken safely when doing so exactly as indicated by your physician in your prescription. 
            </p>

            <p>
                We’re happy so share with you some good guidelines when it comes to choosing an online pharmacy based on drug safety:
            </p>

            <ol>
                <li>A physical address in Canada on the website </li>
                <li>Toll free numbers to call and speak to a customer service representative or the pharmacist</li>
                <li>Make sure that the pharmacy requires you to submit a prescription before your order is filled</li>
                <li>Make sure the pharmacy makes the request for a patient’s medical history before beginning to fill orders. This should include a request for information regarding allergies</li>
               
            </ol>

            <p>You can also see SPAM and pop-up ads on the site as being an indication that it may not be quality online pharmacy. This is especially true if those ads promise extremely cheap prescription drugs or narcotics.</p>
            
            <p>
                Our commitment to quality care means that we adhere to very strict guidelines so that our patients receive the highest level of care. We are fortunate to have a team of professionals here that always ensure health and wellness is the foremost priority for our valued customers. We encourage you to review our site in detail, and we’re confident you’ll see that we run our business with the highest standards of professionalism.
            </p>

            <p>
                @SiteConfigurationsWc.StorefrontUrl only works with established pharmaceutical suppliers that are equally reputable and have been in business for many years.
            </p>
            
            <p>
                We’re proud to offer this level of confidence to our customers and ensuring their safety and well being when taking medications. 
            </p>
            
        </div>
    </div>
</div>

@*--- Show more info links ---*@
@section moreinfo {

    @Html.Partial("MoreInfoLinks", "drug-safety")
}
