
@using EnhanceClub.WebUI.Infrastructure.Utility
   
<main class="how-it-works-page">
    <section class="how-it-works" id="how-it-works">
        <div class="banner-video absolute">
            <img src="../../content/images/orderconfirmation.png" alt="" class="d-block w-100">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 text-right">
                    <h1>How it <br/>works?</h1>
                    <div class="content">
                        <p class="small">
                            Once you’re ready to order, simply create an account, follow our simple steps and we'll do the rest!
                        </p>
                    </div>
                    <a href="#select-product" class="next-section">
                        <img src="../../content/images/icons/arrow-down.svg" alt="Go to" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="select-product" id="select-product">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h6>Step 1</h6>
                    <h2>Select your<br />product</h2>
                    <p>
                        Choose the enhancement that you’re looking for and follow the three simple steps. No matter what your needs are, we have many enhancement options available to ensure you leave feeling more than “average”.
                    </p>
                    <a href="#prescription" class="next-section hidden-tab">
                        <img src="../../content/images/icons/arrow-down.svg" alt="Go to" />
                    </a>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6"></div>
            </div>
        </div>
        <div class="products-banner">
            <img src="/content/images/products-banner-2.png" alt="">
        </div>
        @*commented on 22 march 2021*@
        @*<div class="product-catalogue absolute">
            <div class="product">
                <img src="/content/images/products/thick-flat@2x.png" />
            </div>
            <div class="product">
                <img src="/content/images/products/cialis-flat@2x.png" />
            </div>
            <div class="product">
                <img src="/content/images/products/rise-flat@2x.png" />
            </div>
            <div class="product">
                <img src="/content/images/products/inject-flat@2x.png" />
            </div>
            <div class="product">
                <img src="/content/images/products/extra-flat@2x.png" />
            </div>
        </div>*@

    </section>
    <section class="prescription" id="prescription">
        <div class="absolute skewed-bg bg-dark-grey">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6"></div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-right">
                    <h6 class="text-white">Step 2</h6>
                    <h2>Get a prescription</h2>
                    <p class="text-white">
                        Yes, Enhance Club products require a prescription. The process is really easy, simply complete an online telehealth assessment and a licensed healthcare practitioner will review it and contact you if they have any questions. You don’t have to worry about booking appointments or long wait lines. Enhance Club will create a personalize treatment plan that’s best for you.
                    </p>
                    <a href="#delivery-options" class="next-section hidden-tab">
                        <img class="svg-white"
                             src="../../content/images/icons/arrow-down.svg"
                             alt="Go to" />
                    </a>
                </div>
            </div>
        </div>

        <div class="prescription-doc-banner absolute"></div>
    </section>
    <section class="delivery-options" id="delivery-options">
        <div class="absolute skewed-bg bg-white">
            <div class="delivery-options-banner absolute"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h6>Step 3</h6>
                    <h2>We’re on Route</h2>
                    <p>
                        Your order has been received, and we’re processing it.  Do something fun while you wait, your discrete package is on it’s way!
                    </p>

                </div>
                <div class="col-sm-12 col-md-12 col-lg-6"></div>
            </div>
        </div>
    </section>



</main> 
