<div class="container container-standard home-text">
    <h1>Refer a Friend and Get $50 Credit!</h1>
    <div class="row">
        <div class="col-md-8">
            
            <p> <b>How it Works</b></p>
            <p>
                Convince a friend, relative, or acquaintance to sign up with us at EnhanceClub. When they order using your customer number as a referral code then we’ll apply a $50 credit to your account. Plus, the new customer you’ve referred will ALSO receive a $50 credit.
            </p>
            <p>
                There’s no limit to how many credits you can claim for your account, but be aware that credits only remain valid for 6 months after being issued.
            </p> 
               <p>
                Your next order could be on us!
            </p>
            <p><b>Referral Program Rules and Regulations</b></p> 
            <p>
                For referrals to receive a $50 credit on their account, the new customer must be entering the referrer's promotional code, placing an order and voluntarily electing to participate in the referral program. If a new customer cancels or returns an order for unsatisfactory reasons, then awarded credits will be reversed and removed from the account. When this happens it means disqualification from the criteria of a qualified new customer referral.
            </p>
            <p>
                Credits on accounts may not be redeemed for cash.
            </p>
        </div>
        <div class="col-md-4">
            <div class="image-container">
                <img class="img-responsive no-top-margin" src="~/content/images/people-non-prescription.jpg" alt="Refer a friend and get $50 credit" />
            </div>
        </div>
    </div>
</div>

@*--- Show more info links ---*@
@section moreinfo {

    @Html.Partial("MoreInfoLinks", "referafriend")
}
  