@model EnhanceClub.Domain.Entities.AffiliateInfo


<h2>How to Order Prescription Medications for your Pet:</h2>
<ul id="how-to-order">
    <li><p><span>1</span>Search for your medications and place them in your shopping cart</p></li>
    <li><p><span>2</span>When you checkout you will be asked to create an account or sign into your existing account</p>
    <li><p><span>3</span>Follow the steps to complete your purchase</p></li>
    <li>
        <p><span>4</span>Email your prescriptions to prescriptions@EnhanceClub or Fax a copy of your prescription to us at <br/>@Model.StoreFrontFax</p></li>
    <li><p><span>5</span>Your original prescription must be mailed to us</p></li>
</ul>

<h4>Call Toll Free:</h4>
<h3>@Model.StorefrontContact</h3>
