

<!-- Start of Main -->
<div class="dashboard-page order-page order-confirmation-page error-page">
    <!-- Start of the Top Clip Path -->
    <!-- <div class="top-clip">
        <div class="dash-top-clip">
        </div>
    </div> -->
    <!-- End of the Top Clip Path -->
    <div class="section top-section">
        <div class="container">
            <div class="row">

                <!-- Start of Main Section -->
                <div class="col-12 col-md-12 col-lg-12">

                    <!-- Start of Filter Section -->
                    <div class="row mt-4">
                        <div class="col-12 col-md-7 col-xl-6 text-center text-md-right">
                            @*<h1 class="white mb-0">404</h1>*@
                            <h4 class="white">Page Not Found</h4>
                            <p>
                                We hate to be a let-down, unfortunately the page you're looking for isn't here.
                            </p>
                            <p>
                                Check if we have something else at Enhance Club that meets your needs.
                            </p>
                            <a href="@Url.Action("index", "home")">&#8592; Go Back</a>
                        </div>
                    </div>
                    <!-- End of Filter Section -->

                </div>
                <!-- End of Main Section -->

            </div>
        </div>
    </div>


</div>
<!-- End of Main -->
