<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <style>
      html{ font-family: 'sans-serif'; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About Page">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../../Content/css/main.css" rel="stylesheet" />
</head>

<body>
<div id="wrapper" class="header-">      
    
      <nav class="navbar fixed-top navbar-expand-md">
        <button class="btn btn-menu btn-reset"><img src="/content/images/menu-icon.png" alt="menu" /></button>
        <a class="navbar-brand" href="/"><img src="../../Content/images/logo-active.svg" class="default" alt="black" /><img
            src="../../Content/images/logo-active.svg" class="active" alt="black" /></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		    <span class="navbar-toggler-icon"></span>
      		  </button> -->
        <span class="nav-link cart-open d-md-none">
          Cart <span class="badge badge-count">0</span>
        </span>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/#shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sign-in">Login</a>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link cart-open">
                Cart <span class="badge badge-count">0</span>
              </span>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="popup-navbar d-flex justify-content-center flex-column">
        <button class="btn btn-reset btn-menu-close"><img src="../../Content/images/close.png" alt="icon" /></button>
        <!-- <img src="../../Content/images/popup-image.png" alt="image" class="popup-image" /> -->
      
        <div class="popup-menu d-flex align-items-end flex-wrap">
          <div class="w-100 py-3">
            <div class="row">
              <div class="col-md-3 text-md-right">
                <h3>Enhance <br />Club</h3>
              </div>
              <!-- /.col-md-3 -->
              <div class="col-md-9">
                <ul class="list-unstyled list-links club-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/how-it-works">How it Works</a></li>
                  <li><a href="/blog">Learn</a></li>
                </ul>
              </div>
              <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
            <div class="row">
              <div class="col-md-3 text-md-right">
                <h3>Products</h3>
              </div>
              <!-- /.col-md-3 -->
              <div class="col-md-9">
                <ul class="list-unstyled list-links">
                  <li><a href="/products/spike/">Spike <span class="viagra-gradient">VIAGRA</span></a></li>
                  <li><a href="/products/play/">Play <span class="cialis-gradient">CIALIS</span></a></li>
                  <li><a href="/products/arise/">Arise <span class="finasteride-gradient">FINASTERIDE</span></a></li>
                </ul>
              </div>
              <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
            <div class="row">
              <div class="col-md-3 text-md-right">
                <h3>Need <br />help?</h3>
              </div>
              <!-- /.col-md-3 -->
              <div class="col-md-9">
                <ul class="list-unstyled list-links">            
                  <li><a href="/get-in-touch">Get in Touch</a></li>
                  <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                  <li><a href="/shipping-and-returns">Shipping & Returns</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/faq">FAQs</a></li>
                </ul>
              </div>
              <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
      
            <div class="row popup-social">
              <div class="col-md-3 text-md-right">
                <h3>Follow us</h3>
              </div>
              <!-- /.col-md-3 -->
              <div class="col-md-9">
                <a href="#"><img src="../../Content/images/facebook-yl.svg" alt="icon" /></a>
                <a href="#"><img src="../../Content/images/twitter-yl.svg" alt="icon" /></a>
                <a href="#"><img src="../../Content/images/youtube-yl.svg" alt="icon" /></a>
                <a href="#"><img src="../../Content/images/instagram-yl.svg" alt="icon" /></a>
              </div>
              <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.m-auto -->
      
          <div class="popup-social w-100">      
          </div>
          <!-- /.popup-social -->
        </div>
        <!-- /.popup-menu -->
      </div>
      <!-- /.popup-navbar -->
      
      
      <!-- Start of Cart Header -->
      
      <div class="popup-cart dark-cart">
        <div class="cart-inner-box">
          <div class="row">
            <div class="col">
              <h2>Your cart</h2>
              <button class="btn btn-reset btn-cart-close">close 
                <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.36719 2L24.3672 24" stroke="#FFC305" stroke-width="3" stroke-linecap="round"/>
                  <path d="M2 23.6334L24.7333 2.3667" stroke="#FFC305" stroke-width="3" stroke-linecap="round"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="cart-product-lists">
                <h4>You have 1 product(s) in your cart</h4>
                <div class="cart-card yellow">
                  <div class="d-flex">
                    <div class="product-thumbnail">
                      <img src="../../Content/images/cart1.png" alt="Cialis">
                    </div>
                    <div class="d-flex flex-column justify-content-center product-detail-section">
      
                      <!-- Start of the Price and Count Box -->
                      <div class="price-count-box d-flex justify-content-between align-items-center">
                        <div class="price">$ 30</div>
                        <div class="count d-flex align-items-center">
                          <span class="decrease-count">-</span>
                          <span class="count-value">1</span>
                          <span class="increase-count">+</span>
                        </div>
                      </div>
                      <!-- End of the Price and Count Box -->
      
                      <div class="product-name">
                        Cialis
                      </div>
                      <div class="remove-box">
                        <a href="#">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="offer-box">
                <h4>Often bought together</h4>
                <div class="cart-card green">
                  <div class="d-flex">
                    <div class="product-thumbnail">
                      <img src="../../Content/images/cart2.png" alt="Cialis">
                    </div>
                    <div class="d-flex flex-column justify-content-center product-detail-section">
      
                      <!-- Start of the Price and Count Box -->
                      <div class="price-count-box d-flex justify-content-between align-items-center">
                        <div class="price">$ 30</div>
                      </div>
                      <!-- End of the Price and Count Box -->
      
                      <div class="product-name">
                        Cialis
                      </div>
                      <div class="add-box">
                        <a href="#">Add</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="total-amount-box">
                <h3>Subtotal</h3>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="total-cost">
                    $ 30
                  </div>
                  <div class="additional-charges">
                    <p>Free Shipping</p>
                    <p>Taxes calculated at checkout</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row place-order-section">
            <div class="col">
              <button class="btn btn--rounded" id="place-order">
                Place order
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- End of Cart Header -->
      
      
      
      <!-- Start of Order Confirmed -->
      
      <div class="popup-box semi-transparent d-flex align-items-center justify-content-center place-order">
        <div class="pop-inner-container">
          <span class="close-popup">
            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.30273 2L20.4285 20.1258" stroke="white" stroke-width="3" stroke-linecap="round"/>
              <path d="M2 19.8239L20.73 2.30225" stroke="white" stroke-width="3" stroke-linecap="round"/>
            </svg>
          </span>
          <div class="top-white-box">
            <span class="ec-icon">
              <svg width="58" height="50" viewBox="0 0 58 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.9984 25L43.4992 50H58L28.9984 0L0 50H14.5008L28.9984 25Z" fill="#FFC305"/>
              </svg>
            </span>
            <p>Order complete!</br> Your order <span class="yellow">#24647843</span> was received!</p>
          </div>
          <div class="black-box">
            <p>Please check your order status on your account, we will let you know when you order ships and then you will be able to track your package as it makes its way to your home.</p>
              <a href="#" class="yellow">K, thanks! 
                <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.2841 13L19 7.49993L13.2841 2" stroke="#FFC305" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M18.499 7.33008L1.99995 7.33008" stroke="#FFC305" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                </svg>
              </a>
          </div>
        </div>
      </div>
      
      <!-- End of Order Confirmed -->
      <main class="about-page">
          <div class="about-section-banner">
            <div class="about-clip"></div>
            <div
              class="bg-image"
              style="background-image: url(../../Content/images/about-banner-2.jpg);"
            ></div>
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                  <h2>REWARD YOURSELF AND YOUR PARTNER</h2>
                </div>
              </div>
            </div>
          </div>
          <section class="section story-behind">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <h3>Story </br>behind</h3>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9 content">
                    <h5>
                        EC designed to create a seamless experience for all users ‘taking’ control of their sexual health and personal confidence. Our proprietary system was created to deliver a closed loop experience. It means that we deliver confidence to our users they are only dealing with our private medical service. Never any outside third-party companies. We control every aspect of your experience, right down to the pharmacy dispensing your order.
                    </h5>
                </div>
              </div>
            </div>
          </section>
          <div class="orange-section">
            <div class="orange-gradient-box"></div>
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-6 content">
                  <h3>Mission</h3>
                  <p>
                    Enhance Club is committed to making cost effective medications and products accessible to the “average Joe”. We’re excited to share out passion for creating pleasurable moments and making room for new experiences at every stage in our lives. We believe that creating pleasurable moments starts with grabbing hold of the best version of yourself.
                  </p>
                </div>
                <div class="col-12 col-lg-6">
                  <div
                    class="hidden-xs hidden-md mission-banner-image"
                    style="background-image: url('../../Content/images/wink.png');"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <section class="testimonials">
            <div class="testimonials-slider owl-carousel owl-theme">
              <div class="testimonial">
                <h3>
                  When I started loosing my hair at 30 that was all I was ever thinking about. But since I started taking their hair growth formula I feel like I am twenty something again with nothing stopping me.
                </h3>
                <p>David</p>
              </div>
              <div class="testimonial">
                <h3>
                  Their customer service and reputation as a brand is remarkable. I can put my trust in them as a company when it comes to the quality of their products.
                </h3>
                <p>John</p>
              </div>
              <!-- <div class="testimonial">
                <h3>
                  Mauris luctus in lorem et eleifend. Etiam id nulla et neque
                  gravida convallis vitae a urna. Etiam felis nisi, imperdiet in
                  nunc vitae, volutpat suscipit urna.
                </h3>
                <p>David</p>
              </div>
              <div class="testimonial">
                <h3>
                  Etiam id nulla et neque gravida convallis vitae a urna. Etiam
                  felis nisi, imperdiet in nunc vitae, volutpat suscipit urna.
                </h3>
                <p>John</p>
              </div> -->
            </div>
          </section>
        </main>
    
        <footer class="footer w-100">
          <div class="container">
            <div class="footer-content">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                  <h3>Enhance Club</h3>
                  <ul class="list-unstyled list-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/how-it-works">How it Works</a></li>
                    <li><a href="/blog">Learn</a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                  <h3>Products</h3>
                  <ul class="list-unstyled list-links">
                    <li><a href="/products/spike/">Spike <span class="viagra-gradient">VIAGRA</span></a></li>
                    <li><a href="/products/play/">Play <span class="cialis-gradient">CIALIS</span></a></li>
                    <li><a href="/products/arise/">Arise <span class="finasteride-gradient">FINASTERIDE</span></a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                  <h3>Need help?</h3>
                  <ul class="list-unstyled list-links">            
                    <li><a href="/get-in-touch">Get in Touch</a></li>
                    <li><a href="/faq">FAQs</a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 ml-auto col-md-3 col-sm-6">
                  <h4>FOLLOW US</h4>
                  <ul class="list-unstyled social-media d-flex justify-content-sm-start justify-content-center">
                    <li><a href="#"><img src="../../Content/images/facebook-icon.svg" alt="icon" /></a></li>
                    <li><a href="#"><img src="../../Content/images/twitter-icon.svg" alt="icon" /></a></li>
                    <li><a href="#"><img src="../../Content/images/youtube-icon.svg" alt="icon" /></a></li>
                    <li><a href="#"><img src="../../Content/images/instagram-icon.svg" alt="icon" /></a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.footer-content -->
            <div class="footer-copyright">
              <div class="row align-items-end text-md-left text-center">
                <div class="col-lg-7 col-md-6 order-md-3">
                  <ul class="list-unstyled mb-0 d-flex justify-content-center flex-wrap justify-content-md-end">
                    <li><a href="/shipping-and-returns">Shipping & Returns</a></li>
                    <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
                <div class="col-lg-2 col-md-3 my-md-0 my-4">
                  <img src="../../Content/images/footerlogo.svg" class="img-fluid footer-logo" alt="logo" />
        
                  <div class="text-center d-sm-none mt-4">
                    <a href="#wrapper"><img src="../../Content/images/backtotop.svg" alt="icon" /></a>
                  </div>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
                <div class="col-lg-3 col-md-3" style="position: relative;top: -3px;">
                  <p>All Rights Reserved © 2020</p>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.footer-copyright -->
          </div>
          <!-- /.container -->
        </footer>
        <!-- /.footer w-100 -->

    </div>
    <script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js" integrity="sha256-6O5DljdGA6AiaEVC/Zn8pNLNbQGparYTI9091fGX64k=" crossorigin="anonymous"></script>
    <script src="/scripts/fullscreenForm.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/bundles/customJs?v=-llQxZmKpJ0eV8W-SLCzWawULBByKEYNNmYIXcFOGCM1"></script>
  </body>
</html>
