<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Get in Touch</title>
    <style>
      html{ font-family: 'sans-serif'; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get in Touch">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="../../content/css/main.css" rel="stylesheet"></head>
<body>
<div id="wrapper" class="header-dark">      
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js" integrity="sha256-6O5DljdGA6AiaEVC/Zn8pNLNbQGparYTI9091fGX64k=" crossorigin="anonymous"></script>
        <script src="../../scripts/fullscreenForm.js"></script>
        
        <nav class="navbar fixed-top navbar-expand-md">
          <button class="btn btn-menu btn-reset"><img src="../../content/images/menu-icon.png" alt="menu" /></button>
          <a class="navbar-brand" href="/"><img src="../../content/images/logo-black.svg" class="default" alt="black" /><img
              src="../../content/images/logo-black.svg" class="active" alt="black" /></a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		    <span class="navbar-toggler-icon"></span>
        		  </button> -->
          <span class="nav-link cart-open d-md-none">
            Cart <span class="badge badge-count">0</span>
          </span>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/#shop">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sign-in">Login</a>
              </li>
              <li class="nav-item dropdown">
                <span class="nav-link cart-open">
                  Cart <span class="badge badge-count">0</span>
                </span>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        
        <div class="popup-navbar d-flex justify-content-center flex-column">
          <button class="btn btn-reset btn-menu-close"><img src="../../content/images/close.png" alt="icon" /></button>
          <!-- <img src="../../content/images/popup-image.png" alt="image" class="popup-image" /> -->
        
          <div class="popup-menu d-flex align-items-end flex-wrap">
            <div class="w-100 py-3">
              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h3>Enhance <br />Club</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                  <ul class="list-unstyled list-links club-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/how-it-works">How it Works</a></li>
                    <li><a href="/blog">Learn</a></li>
                  </ul>
                </div>
                <!-- /.col-md-9 -->
              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h3>Products</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                  <ul class="list-unstyled list-links">
                    <li><a href="/products/spike/">Spike <span class="viagra-gradient">VIAGRA</span></a></li>
                    <li><a href="/products/play/">Play <span class="cialis-gradient">CIALIS</span></a></li>
                    <li><a href="/products/arise/">Arise <span class="finasteride-gradient">FINASTERIDE</span></a></li>
                  </ul>
                </div>
                <!-- /.col-md-9 -->
              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h3>Need <br />help?</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                  <ul class="list-unstyled list-links">            
                    <li><a href="/get-in-touch">Get in Touch</a></li>
                    <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                    <li><a href="/shipping-and-returns">Shipping & Returns</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/faq">FAQs</a></li>
                  </ul>
                </div>
                <!-- /.col-md-9 -->
              </div>
              <!-- /.row -->
        
              <div class="row popup-social">
                <div class="col-md-3 text-md-right">
                  <h3>Follow us</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                  <a href="#"><img src="../../content/images/facebook-yl.svg" alt="icon" /></a>
                  <a href="#"><img src="../../content/images/twitter-yl.svg" alt="icon" /></a>
                  <a href="#"><img src="../../content/images/youtube-yl.svg" alt="icon" /></a>
                  <a href="#"><img src="../../content/images/instagram-yl.svg" alt="icon" /></a>
                </div>
                <!-- /.col-md-9 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.m-auto -->
        
            <div class="popup-social w-100">      
            </div>
            <!-- /.popup-social -->
          </div>
          <!-- /.popup-menu -->
        </div>
        <!-- /.popup-navbar -->
        
        
        <!-- Start of Cart Header -->
        
        <div class="popup-cart dark-cart">
          <div class="cart-inner-box">
            <div class="row">
              <div class="col">
                <h2>Your cart</h2>
                <button class="btn btn-reset btn-cart-close">close 
                  <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.36719 2L24.3672 24" stroke="#FFC305" stroke-width="3" stroke-linecap="round"/>
                    <path d="M2 23.6334L24.7333 2.3667" stroke="#FFC305" stroke-width="3" stroke-linecap="round"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="cart-product-lists">
                  <h4>You have 1 product(s) in your cart</h4>
                  <div class="cart-card yellow">
                    <div class="d-flex">
                      <div class="product-thumbnail">
                        <img src="../../content/images/cart1.png" alt="Cialis">
                      </div>
                      <div class="d-flex flex-column justify-content-center product-detail-section">
        
                        <!-- Start of the Price and Count Box -->
                        <div class="price-count-box d-flex justify-content-between align-items-center">
                          <div class="price">$ 30</div>
                          <div class="count d-flex align-items-center">
                            <span class="decrease-count">-</span>
                            <span class="count-value">1</span>
                            <span class="increase-count">+</span>
                          </div>
                        </div>
                        <!-- End of the Price and Count Box -->
        
                        <div class="product-name">
                          Cialis
                        </div>
                        <div class="remove-box">
                          <a href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="offer-box">
                  <h4>Often bought together</h4>
                  <div class="cart-card green">
                    <div class="d-flex">
                      <div class="product-thumbnail">
                        <img src="../../content/images/cart2.png" alt="Cialis">
                      </div>
                      <div class="d-flex flex-column justify-content-center product-detail-section">
        
                        <!-- Start of the Price and Count Box -->
                        <div class="price-count-box d-flex justify-content-between align-items-center">
                          <div class="price">$ 30</div>
                        </div>
                        <!-- End of the Price and Count Box -->
        
                        <div class="product-name">
                          Cialis
                        </div>
                        <div class="add-box">
                          <a href="#">Add</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="total-amount-box">
                  <h3>Subtotal</h3>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="total-cost">
                      $ 30
                    </div>
                    <div class="additional-charges">
                      <p>Free Shipping</p>
                      <p>Taxes calculated at checkout</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row place-order-section">
              <div class="col">
                <button class="btn btn--rounded" id="place-order">
                  Place order
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- End of Cart Header -->
        
        
        
        <!-- Start of Order Confirmed -->
        
        <div class="popup-box semi-transparent d-flex align-items-center justify-content-center place-order">
          <div class="pop-inner-container">
            <span class="close-popup">
              <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.30273 2L20.4285 20.1258" stroke="white" stroke-width="3" stroke-linecap="round"/>
                <path d="M2 19.8239L20.73 2.30225" stroke="white" stroke-width="3" stroke-linecap="round"/>
              </svg>
            </span>
            <div class="top-white-box">
              <span class="ec-icon">
                <svg width="58" height="50" viewBox="0 0 58 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M28.9984 25L43.4992 50H58L28.9984 0L0 50H14.5008L28.9984 25Z" fill="#FFC305"/>
                </svg>
              </span>
              <p>Order complete!</br> Your order <span class="yellow">#24647843</span> was received!</p>
            </div>
            <div class="black-box">
              <p>Please check your order status on your account, we will let you know when you order ships and then you will be able to track your package as it makes its way to your home.</p>
                <a href="#" class="yellow">K, thanks! 
                  <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.2841 13L19 7.49993L13.2841 2" stroke="#FFC305" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.499 7.33008L1.99995 7.33008" stroke="#FFC305" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                  </svg>
                </a>
            </div>
          </div>
        </div>
        
        <!-- End of Order Confirmed -->
        <div class="get-in-touch-section">
            <div class="section" id="step1">
                <div id="get-in-touch-clip" class="clip"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-container">
                                <div class="fs-form-wrap" id="fs-form-wrap">
                                    <form id="myform" action="/get-in-touch/thank-you.html" class="fs-form fs-form-full" autocomplete="off">                                    
                                        <div class="overview-item">                                                
                                            <h2 class="fs-field-label fs-anim-upper" for="q1">Review answers</h2>                                            
                                        </div>
                                        <ol class="fs-fields">                                        
                                            <li class="form-group">   
                                                <div class="non-overview-item">
                                                    <h3 class="fs-field-label fs-anim-upper" for="q1">Any question?</h3>
                                                    <h1 class="fs-field-label fs-anim-upper" for="q1">Get in touch with us</h1>                                            
                                                </div>                                         
                                                <h4 class="fs-field-label fs-anim-upper overview-item" for="q2" >Question</h4>
                                                <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Type your question so we can provide you an accurate solution for you." required/>
                                                <span class="small-text fs-anim-lower">Press “Enter” to proceed</span>
                                                <span class="form-nav">
                                                    <ul>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M17.4707 41L17.4707 1.22179L15.4707 1.22179L15.4707 41L17.4707 41Z" fill="#7C7C7C"/>
                                                                <path d="M32.4259 15.763L16.9558 0.292888L15.5415 1.7071L31.0116 17.1772L32.4259 15.763Z" fill="#7C7C7C"/>
                                                                <path d="M15.7636 0.292893L0.293499 15.763L1.70771 17.1772L17.1778 1.70711L15.7636 0.292893Z" fill="#7C7C7C"/>
                                                            </svg>                               
                                                        </li>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M15.0264 4.37114e-08L15.0264 39.7782L17.0264 39.7782L17.0264 -4.37114e-08L15.0264 4.37114e-08Z" fill="#518000"/>
                                                                <path d="M0.0712135 25.237L15.5413 40.7071L16.9555 39.2929L1.48543 23.8228L0.0712135 25.237Z" fill="#518000"/>
                                                                <path d="M16.7335 40.7071L32.2036 25.237L30.7894 23.8228L15.3193 39.2929L16.7335 40.7071Z" fill="#518000"/>
                                                            </svg>              
                                                        </li>
                                                    </ul>
                                                </span>
                                            </li>
                                            <li class="form-group">
                                                
                                                <div class="prev-answer">
                                                    <p class="fs-field-label fs-anim-upper non-overview-item" for="q2">
                                                        <span>Question: </span>
                                                        <span class="dynamic-ques"></span>
                                                    </p>
                                                </div>
    
                                                <h4 class="fs-field-label fs-anim-upper" for="q2" >Your name</h4>                                            
                                            
                                                <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="Type your name and last name" required/>
                                                <span class="small-text fs-anim-lower">Press “Enter” to proceed</span>
                                                <span class="form-nav">
                                                    <ul>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M17.4707 41L17.4707 1.22179L15.4707 1.22179L15.4707 41L17.4707 41Z" fill="#7C7C7C"/>
                                                                <path d="M32.4259 15.763L16.9558 0.292888L15.5415 1.7071L31.0116 17.1772L32.4259 15.763Z" fill="#7C7C7C"/>
                                                                <path d="M15.7636 0.292893L0.293499 15.763L1.70771 17.1772L17.1778 1.70711L15.7636 0.292893Z" fill="#7C7C7C"/>
                                                            </svg>                                
                                                        </li>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M15.0264 4.37114e-08L15.0264 39.7782L17.0264 39.7782L17.0264 -4.37114e-08L15.0264 4.37114e-08Z" fill="#518000"/>
                                                                <path d="M0.0712135 25.237L15.5413 40.7071L16.9555 39.2929L1.48543 23.8228L0.0712135 25.237Z" fill="#518000"/>
                                                                <path d="M16.7335 40.7071L32.2036 25.237L30.7894 23.8228L15.3193 39.2929L16.7335 40.7071Z" fill="#518000"/>
                                                            </svg>              
                                                        </li>
                                                    </ul>
                                                </span>
                                            </li>
                                            <li class="form-group">
                                                
                                                <div class="prev-answer">
                                                    <p class="fs-field-label fs-anim-upper non-overview-item" for="q3">
                                                        <span>Your name: </span>
                                                        <span class="dynamic-ques"></span>
                                                    </p>
                                                </div>
                                                <h4 class="fs-field-label fs-anim-upper" for="q3" >Email address</h4>                                            
                                                
                                                <input class="fs-anim-lower" id="q3" name="q3" type="email" placeholder="Type your email here." required/>
                                                <span class="small-text fs-anim-lower">Press “Enter” to proceed</span>
                                                <span class="form-nav">
                                                    <ul>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M17.4707 41L17.4707 1.22179L15.4707 1.22179L15.4707 41L17.4707 41Z" fill="#7C7C7C"/>
                                                                <path d="M32.4259 15.763L16.9558 0.292888L15.5415 1.7071L31.0116 17.1772L32.4259 15.763Z" fill="#7C7C7C"/>
                                                                <path d="M15.7636 0.292893L0.293499 15.763L1.70771 17.1772L17.1778 1.70711L15.7636 0.292893Z" fill="#7C7C7C"/>
                                                            </svg>                                 
                                                        </li>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M15.0264 4.37114e-08L15.0264 39.7782L17.0264 39.7782L17.0264 -4.37114e-08L15.0264 4.37114e-08Z" fill="#518000"/>
                                                                <path d="M0.0712135 25.237L15.5413 40.7071L16.9555 39.2929L1.48543 23.8228L0.0712135 25.237Z" fill="#518000"/>
                                                                <path d="M16.7335 40.7071L32.2036 25.237L30.7894 23.8228L15.3193 39.2929L16.7335 40.7071Z" fill="#518000"/>
                                                            </svg>              
                                                        </li>
                                                    </ul>
                                                </span>
                                            </li>
                                            <li class="form-group">
                                                
                                                <div class="prev-answer no-overview-item">
                                                    <p class="fs-field-label fs-anim-upper non-overview-item" for="q4">
                                                        <span>Email address: </span>
                                                        <span class="dynamic-ques"></span>
                                                    </p>
                                                </div>
                                                <h4 class="fs-field-label fs-anim-upper" for="q4" >Phone number</h4>                                            
                                                
                                                <input class="fs-anim-lower" id="q4" name="q4" type="text" placeholder="Now give us your cellphone (we won’t call you if it’s not really necessary)." required/>
                                                <span class="small-text fs-anim-lower">Press “Enter” to proceed</span>
                                                <span class="form-nav">
                                                    <ul>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M17.4707 41L17.4707 1.22179L15.4707 1.22179L15.4707 41L17.4707 41Z" fill="#7C7C7C"/>
                                                                <path d="M32.4259 15.763L16.9558 0.292888L15.5415 1.7071L31.0116 17.1772L32.4259 15.763Z" fill="#7C7C7C"/>
                                                                <path d="M15.7636 0.292893L0.293499 15.763L1.70771 17.1772L17.1778 1.70711L15.7636 0.292893Z" fill="#7C7C7C"/>
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M15.0264 4.37114e-08L15.0264 39.7782L17.0264 39.7782L17.0264 -4.37114e-08L15.0264 4.37114e-08Z" fill="#518000"/>
                                                                <path d="M0.0712135 25.237L15.5413 40.7071L16.9555 39.2929L1.48543 23.8228L0.0712135 25.237Z" fill="#518000"/>
                                                                <path d="M16.7335 40.7071L32.2036 25.237L30.7894 23.8228L15.3193 39.2929L16.7335 40.7071Z" fill="#518000"/>
                                                            </svg>               
                                                        </li>
                                                    </ul>                                                
                                                </span>
                                            </li>
                                        </ol><!-- /fs-fields -->                                    
                                        <button class="fs-submit" type="submit">Submit answers</button>
                                    </form><!-- /fs-form -->
                                </div><!-- /fs-form-wrap -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    
        <footer class="footer w-100">
          <div class="container">
            <div class="footer-content">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                  <h3>Enhance Club</h3>
                  <ul class="list-unstyled list-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/how-it-works">How it Works</a></li>
                    <li><a href="/blog">Learn</a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                  <h3>Products</h3>
                  <ul class="list-unstyled list-links">
                    <li><a href="/products/spike/">Spike <span class="viagra-gradient">VIAGRA</span></a></li>
                    <li><a href="/products/play/">Play <span class="cialis-gradient">CIALIS</span></a></li>
                    <li><a href="/products/arise/">Arise <span class="finasteride-gradient">FINASTERIDE</span></a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                  <h3>Need help?</h3>
                  <ul class="list-unstyled list-links">            
                    <li><a href="/get-in-touch">Get in Touch</a></li>
                    <li><a href="/faq">FAQs</a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 ml-auto col-md-3 col-sm-6">
                  <h4>FOLLOW US</h4>
                  <ul class="list-unstyled social-media d-flex justify-content-sm-start justify-content-center">
                    <li><a href="#"><img src="../../content/images/facebook-icon.svg" alt="icon" /></a></li>
                    <li><a href="#"><img src="../../content/images/twitter-icon.svg" alt="icon" /></a></li>
                    <li><a href="#"><img src="../../content/images/youtube-icon.svg" alt="icon" /></a></li>
                    <li><a href="#"><img src="../../content/images/instagram-icon.svg" alt="icon" /></a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.footer-content -->
            <div class="footer-copyright">
              <div class="row align-items-end text-md-left text-center">
                <div class="col-lg-7 col-md-6 order-md-3">
                  <ul class="list-unstyled mb-0 d-flex justify-content-center flex-wrap justify-content-md-end">
                    <li><a href="/shipping-and-returns">Shipping & Returns</a></li>
                    <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                  </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
                <div class="col-lg-2 col-md-3 my-md-0 my-4">
                  <img src="../../content/images/footerlogo.svg" class="img-fluid footer-logo" alt="logo" />
        
                  <div class="text-center d-sm-none mt-4">
                    <a href="#wrapper"><img src="../../content/images/backtotop.svg" alt="icon" /></a>
                  </div>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
                <div class="col-lg-3 col-md-3" style="position: relative;top: -3px;">
                  <p>All Rights Reserved © 2020</p>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.footer-copyright -->
          </div>
          <!-- /.container -->
        </footer>
        <!-- /.footer w-100 -->
    </div>
  <script type="text/javascript" src="../../scripts/main.js"></script>
</body>
</html>
