
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>
        Enhance Club – Home
    </title>

    <meta name="description">

    <style>
        html {
            font-family: 'sans-serif';
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/content/css/main.css" />

</head>
<body>

    <div id="wrapper" class="header-">

        <nav class="navbar fixed-top navbar-expand-md">
            <button class="btn btn-menu btn-reset"><img src="/content/images/menu-icon.png" alt="menu" /></button>
            <a class="navbar-brand" href="/">
                <img src="/content/images/logo-black.svg" class="default" alt="black" /><img src="/content/images/logo-active.svg" class="active" alt="black" />
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <span class="nav-link cart-open d-md-none">

                Cart <span class="badge badge-count">0</span>




            </span>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#shop">Shop</a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>

                    <li class="nav-item dropdown">


                        <span class="nav-link cart-open">


                            Cart <span class="badge badge-count">

                                <div class="ld-module-cart">

                                    <span class="ld-module-trigger collapsed" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#shop-cart" aria-controls="shop-cart" aria-expanded="false">
                                        <span class="ld-module-trigger-icon">
                                            <i class="icon-ld-cart"></i>
                                        </span><!-- /.ld-module-trigger-icon -->
                                        <span class="ld-module-trigger-count">0</span>
                                    </span><!-- /.ld-module-trigger -->
                                    <!-- /.ld-module-dropdown -->

                                </div><!-- /.module-cart -->
                            </span>

                        </span>


                        <!-- check with sandy how this menu activates-->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>





        <div class="popup-navbar d-flex justify-content-center flex-column">
            <button class="btn btn-reset btn-menu-close"><img src="/content/images/close.png" alt="icon" /></button>
            <!-- <img src="/content/images/popup-image.png" alt="image" class="popup-image" /> -->
            <div class="popup-menu d-flex align-items-end flex-wrap">
                <div class="w-100 py-3">
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            <h3>Enhance <br />Club</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <ul class="list-unstyled list-links club-menu">
                                <li>
                                    <a class="" href="/">Home</a>
                                </li>
                                <li>
                                    <a class="" href="/about">About us</a>

                                </li>
                                <li>
                                    <a class="" href="/how-it-works">How it Works</a>

                                </li>
                                <li>
                                    <a class="" href="/blog">Learn</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            <h3>Products</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <ul class="list-unstyled list-links">

                                <li>

                                    <a href="/products/viagra-otc" class="">
                                        SPIKE<span class="viagra-gradient">VIAGRA</span>

                                    </a>

                                </li>
                                <li>
                                    <a href="/products/cialis-otc" class="">
                                        <span class="viagra-gradient">
                                            PLAY<span class="cialis-gradient">CIALIS</span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/products/propecia-otc" class="">
                                        <span class="viagra-gradient">
                                            Arise <span class="finasteride-gradient">FINASTERIDE</span>
                                        </span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            <h3>Need <br />help?</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <ul class="list-unstyled list-links">
                                <li>

                                    <a class="" href="/get-in-touch">Get in Touch</a>

                                </li>
                                <li>

                                    <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>

                                </li>

                                <li>

                                    <a class="" href="/shipping-and-returns">Shipping &amp; Returns</a>

                                </li>

                                <li>

                                    <a class="" href="/privacy-policy">Privacy Policy</a>

                                </li>

                                <li>

                                    <a class="" href="/faq">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                    <div class="row popup-social">
                        <div class="col-md-3 text-md-right">
                            <h3>Follow us</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <a href="https://www.facebook.com/enhanceclubnow" target="_blank"><img src="/content/images/facebook-yl.svg" alt="icon" /></a>
                            <a href="http://twitter.com/enhanceclub" target="_blank"><img src="/content/images/twitter-yl.svg" alt="icon" /></a>
                            <a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA" target="_blank"><img src="/content/images/youtube-yl.svg" alt="icon" /></a>
                            <a href="http://instagram.com/enhanceclub" target="_blank"><img src="/content/images/instagram-yl.svg" alt="icon" /></a>



                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.m-auto -->

                <div class="popup-social w-100">
                </div>
                <!-- /.popup-social -->
            </div>
            <!-- /.popup-menu -->

        </div>



        <!-- /.popup-navbar -->




        <div id="cart-popup">

        </div>

        <main class="page-content home-page">

            <div class="home-banner-wrap">
                <div class="home-banner position-relative">
                    <img src="/content/images/home-page/leftcouplehome-banner.png" class="banner-left-image d-none d-sm-block rellax" data-rellax-speed="-1" alt="image" />
                    <img src="/content/images/home-page/rightcouplehome-banner.png" class="banner-right-image d-none d-sm-block rellax" data-rellax-speed="1" alt="image" />
                    <img src="/content/images/home-page/BGhome-banner.jpg" class="w-100 banner-main-image d-none d-sm-block rellax" data-rellax-speed="-1" alt="image" />

                    <img src="/content/images/home-page/party_BG_shutterstock_10217575691.jpg"
                         class="w-100 banner-mobile-image d-block d-sm-none" alt="image" />
                </div>
                <!-- /.home-banner -->

                <div class="tagname">
                    <h1>ENHANCE CLUB</h1>
                </div>
                <!-- /.tagname -->
            </div>


            <div class="provide-area content-text text-center">
                <div class="provide-area-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>WE PROVIDE JOY</h2>

                                <p>
                                    The downsides of life happen to everyone, whether it’s less hair than you used to have or more inconsistent
                                    erections than you used to get. So we made a curated selection of items to help you out, as seamlessly as
                                    possible. A few clicks and you’re back in the game.
                                </p>
                            </div>
                            <!-- /.col-sm-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>

                <div class="gif-group text-center">
                    <ul class="motion_video list-unstyled justify-content-center d-flex m-0">
                        <li>
                            <video class="d-block" autoplay="true" poster="/content/images/video/spot-on.png" muted="true" loop="true">
                                <source src="/content/images/video/spot-on.webm" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </li>
                        <li class="d-none d-md-flex">
                            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/awesome.png">
                                <source src="/content/images/video/awesome.webm" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </li>
                        <li class="d-none d-lg-flex">
                            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/happy-guy.png">
                                <source src="/content/images/video/happy-guy.webm" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </li>
                        <li class="d-none d-md-flex">
                            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/guy-standing.png">
                                <source src="/content/images/video/guy-standing.webm" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </li>
                        <li class="d-none d-xxl-flex">
                            <video class="d-block" autoplay="true" muted="true" loop="true" poster="/content/images/video/style.png">
                                <source src="/content/images/video/style.webm" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </li>
                    </ul>
                    <!-- /.motion_video -->
                </div>

                <!-- /.gif-group -->
            </div>

            <!-- /.provide-area -->
            <div class="product-area content-text text-center">
                <div class="container-fluid">
                    <div id="shop" class="row">
                        <div class="col-sm-12 text-uppercase">
                            <h2>Products</h2>
                        </div>
                        <!-- /.col-sm-12 -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product-item">
                                <a href="/products/viagra-otc/" class="product-image d-block">
                                    <img src="/content/images/products/viagra_mockup_1.png" class="img-fluid" alt="product 01" />
                                    <span class="product_shadow"></span>
                                </a>
                                <!-- /.product-image -->
                                <div class="product-info">
                                    <a href="/products/viagra-otc/" class="btn text-uppercase btn-rounded btn-outline-secondary">Spike*</a>
                                    <p>VIAGRA</p>
                                </div>
                                <!-- /.product-info -->
                            </div>
                            <!-- /.product-item -->
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <div class="product-item">
                                <a href="/products/cialis-otc/" class="product-image d-block">
                                    <img src="/content/images/products/viagra_mockup_2.png" class="img-fluid" alt="product 02" />
                                    <span class="product_shadow"></span>
                                </a>
                                <!-- /.product-image -->
                                <div class="product-info">
                                    <a href="/products/cialis-otc/" class="btn text-uppercase btn-rounded btn-outline-secondary">Play*</a>
                                    <p>CIALIS</p>
                                </div>
                                <!-- /.product-info -->
                            </div>
                            <!-- /.product-item -->
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <div class="product-item">
                                <a href="/products/propecia-otc/" class="product-image d-block">
                                    <img src="/content/images/products/viagra_mockup_3.png" class="img-fluid" alt="product 01" />
                                    <span class="product_shadow"></span>
                                </a>
                                <!-- /.product-image -->
                                <div class="product-info">
                                    <a href="/products/propecia-otc/" class="btn text-uppercase btn-rounded btn-outline-secondary">Arise*</a>
                                    <p>HAIR GROW</p>
                                </div>
                                <!-- /.product-info -->
                            </div>
                            <!-- /.product-item -->
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>

            <!-- /.product-area content-text text-center -->
            <div class="product-favorite position-relative content-text">
                <div class="section-count">1.</div>
                <img src="/content/images/home-page/hand-pills.png" class="hand-pills position-absolute" alt="img" />
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <h2><span>SELECT YOUR <br />FAVORITE PRODUCT</span></h2>
                        </div>
                        <!-- /.col-sm-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->

                <div class="polygon-shape d-sm-flex d-none">
                    <img src="/content/images/home-page/polygon_01.png" alt="">
                    <img src="/content/images/home-page/polygon_03.png" alt="">
                    <img src="/content/images/home-page/polygon_02.png" alt="">
                </div>
                <!-- /.polygon-shape -->

                <img src="/content/images/home-page/image-step.jpg" class="w-100 d-sm-none d-block" alt="image" />

                <div class="btn-shop-sharpe text-center">
                </div>
                <a href="/#shop" class="btn-shop">Shop Now <img src="/content/images/home-page/arrow-next.png" alt="arrow" /></a>
            </div>

            <!-- /.product-favorite content-text -->
            <div class="enchance-area position-relative content-text mt-5 pt-4">
                <div class="enchance-area-clip"></div>

                <div class="enchance-instagram content-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>#enhanceclub</h2>
                                <p>follow us on instagram &#64;enhanceclub</p>
                            </div>
                            <!-- /.col-sm-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->

                    <div class="instagram-posts">
                        <div class="container">
                            <div class="instagram-carousel owl-carousel owl-theme">
                                <div class="item"><img src="/content/images/home-page/instagram-image.png" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image-02.jpg" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image.png" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image-02.jpg" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image.png" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image-02.jpg" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image.png" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image-02.jpg" alt="image" /></div>
                                <div class="item"><img src="/content/images/home-page/instagram-image.png" alt="image" /></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.enhance-instagram-area -->
                </div>
                <!-- /.enchance-instagram -->

                <div class="enchance-blog enchance-title">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <h2>learn</h2>
                            </div>
                            <!-- /.col-sm-12 -->
                        </div>
                        <!-- /.row -->

                        <div class="blog-listing single-row">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="post-tiles">
                                        <a href="/blog/blog-post.html">
                                            <span class="blog-thumbnail d-flex align-items-end">
                                                <span class="blog-thumbnail-image">
                                                    <img src="/content/images/blog-thumbnail1.jpg" alt="Blog Post Image">
                                                    <span class="thumbnail-gradient"></span>
                                                </span>
                                            </span>
                                            <h3 class="blog-title">Nam lobortis dapibus eros ut fermentum</h3>
                                            <p class="blog-summary">Vestibulum a tellus rutrum, pretium turpis vitae, auctor orci.</p>
                                            <span class="post-page">
                                                Read more
                                                <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M43.0607 13.0611C43.6464 12.4754 43.6464 11.5256 43.0607 10.9398L33.5147 1.39389C32.9289 0.8081 31.9792 0.8081 31.3934 1.39389C30.8076 1.97967 30.8076 2.92942 31.3934 3.51521L39.8787 12.0005L31.3934 20.4858C30.8076 21.0716 30.8076 22.0213 31.3934 22.6071C31.9792 23.1929 32.9289 23.1929 33.5147 22.6071L43.0607 13.0611ZM0 13.5005H42V10.5005H0V13.5005Z" fill="black" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="post-tiles">
                                        <a href="/blog/blog-post.html">
                                            <span class="blog-thumbnail d-flex align-items-end">
                                                <span class="blog-thumbnail-image">
                                                    <img src="/content/images/blog-thumbnail2.jpg" alt="Blog Post Image">
                                                    <span class="thumbnail-gradient"></span>
                                                </span>
                                            </span>
                                            <h3 class="blog-title">Nullam vitae neque quis felis maximus dignissim posuere</h3>
                                            <p class="blog-summary">Vestibulum a tellus rutrum, pretium turpis vitae, auctor orci.</p>
                                            <span class="post-page">
                                                Read more
                                                <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M43.0607 13.0611C43.6464 12.4754 43.6464 11.5256 43.0607 10.9398L33.5147 1.39389C32.9289 0.8081 31.9792 0.8081 31.3934 1.39389C30.8076 1.97967 30.8076 2.92942 31.3934 3.51521L39.8787 12.0005L31.3934 20.4858C30.8076 21.0716 30.8076 22.0213 31.3934 22.6071C31.9792 23.1929 32.9289 23.1929 33.5147 22.6071L43.0607 13.0611ZM0 13.5005H42V10.5005H0V13.5005Z" fill="black" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="post-tiles">
                                        <a href="/blog/blog-post.html">
                                            <span class="blog-thumbnail d-flex align-items-end">
                                                <span class="blog-thumbnail-image">
                                                    <img src="/content/images/blog-thumbnail3.jpg" alt="Blog Post Image">
                                                    <span class="thumbnail-gradient"></span>
                                                </span>
                                            </span>
                                            <h3 class="blog-title">Nam lobortis dapibus</h3>
                                            <p class="blog-summary">Vestibulum a tellus rutrum, pretium turpis vitae, auctor orci.</p>
                                            <span class="post-page">
                                                Read more
                                                <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M43.0607 13.0611C43.6464 12.4754 43.6464 11.5256 43.0607 10.9398L33.5147 1.39389C32.9289 0.8081 31.9792 0.8081 31.3934 1.39389C30.8076 1.97967 30.8076 2.92942 31.3934 3.51521L39.8787 12.0005L31.3934 20.4858C30.8076 21.0716 30.8076 22.0213 31.3934 22.6071C31.9792 23.1929 32.9289 23.1929 33.5147 22.6071L43.0607 13.0611ZM0 13.5005H42V10.5005H0V13.5005Z" fill="black" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="post-tiles">
                                        <a href="/blog/blog-post.html">
                                            <span class="blog-thumbnail d-flex align-items-end">
                                                <span class="blog-thumbnail-image">
                                                    <img src="/content/images/blog-thumbnail4.jpg" alt="Blog Post Image">
                                                    <span class="thumbnail-gradient"></span>
                                                </span>
                                            </span>
                                            <h3 class="blog-title">Nam lobortis dapibus eros ut fermentum</h3>
                                            <p class="blog-summary">Vestibulum a tellus rutrum, pretium turpis vitae, auctor orci.</p>
                                            <span class="post-page">
                                                Read more
                                                <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M43.0607 13.0611C43.6464 12.4754 43.6464 11.5256 43.0607 10.9398L33.5147 1.39389C32.9289 0.8081 31.9792 0.8081 31.3934 1.39389C30.8076 1.97967 30.8076 2.92942 31.3934 3.51521L39.8787 12.0005L31.3934 20.4858C30.8076 21.0716 30.8076 22.0213 31.3934 22.6071C31.9792 23.1929 32.9289 23.1929 33.5147 22.6071L43.0607 13.0611ZM0 13.5005H42V10.5005H0V13.5005Z" fill="black" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.enchance-reputation -->
            </div>

            <!-- /.enhance-area content-text -->
        </main>


        <footer class="footer w-100">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <h3>Enhance Club</h3>
                            <ul class="list-unstyled list-links">
                                <li>
                                    <a class="" href="/">Home</a>
                                </li>

                                <li>
                                    <a class="" href="/about">About us</a>

                                </li>

                                <li>
                                    <a class="" href="/how-it-works">How it Works</a>

                                </li>

                                <li>
                                    <a class="" href="/blog">Learn</a>
                                </li>
                            </ul>
                        </div>

                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <h3>Products</h3>
                            <ul class="list-unstyled list-links">

                                <li>

                                    <a href="/products/viagra-otc" class="">
                                        SPIKE<span class="viagra-gradient">VIAGRA</span>

                                    </a>

                                </li>
                                <li>
                                    <a href="/products/cialis-otc" class="">
                                        <span class="viagra-gradient">
                                            PLAY<span class="cialis-gradient">CIALIS</span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/products/propecia-otc" class="">
                                        <span class="viagra-gradient">
                                            Arise <span class="finasteride-gradient">FINASTERIDE</span>
                                        </span>
                                    </a>

                                </li>
                            </ul>

                        </div>

                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <h3>Need help?</h3>
                            <ul class="list-unstyled list-links">
                                <li>
                                    <a class="" href="/get-in-touch">Get in Touch</a>
                                </li>
                                <li>
                                    <a class="" href="/faq">FAQs</a>
                                </li>
                            </ul>
                        </div>

                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                        <div class="col-lg-2 ml-auto col-md-3 col-sm-6">
                            <h4>FOLLOW US</h4>
                            <ul class="list-unstyled social-media d-flex justify-content-sm-start justify-content-center">
                                <li><a href="https://www.facebook.com/enhanceclubnow" target="_blank"><img src="/content/images/facebook-icon.svg" alt="icon" /></a></li>
                                <li><a href="http://twitter.com/enhanceclub" target="_blank"><img src="/content/images/twitter-icon.svg" alt="icon" /></a></li>
                                <li><a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA" target="_blank"><img src="/content/images/youtube-icon.svg" alt="icon" /></a></li>
                                <li><a href="http://instagram.com/enhanceclub" target="_blank"><img src="/content/images/instagram-icon.svg" alt="icon" /></a></li>



                            </ul>
                        </div>
                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.footer-content -->
                <div class="footer-copyright">
                    <div class="row align-items-end text-md-left text-center">
                        <div class="col-lg-7 col-md-6 order-md-3">
                            <ul class="list-unstyled mb-0 d-flex justify-content-center flex-wrap justify-content-md-end">

                                <li>

                                    <a class="" href="/shipping-and-returns">Shipping &amp; Returns</a>

                                </li>

                                <li>

                                    <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>

                                </li>

                                <li>

                                    <a class="" href="/privacy-policy">Privacy Policy</a>

                                </li>

                            </ul>
                        </div>
                        <!-- /.col-lg-2 col-md-3 -->
                        <div class="col-lg-2 col-md-3 my-md-0 my-4">
                            <img src="/content/images/footerlogo.svg" class="img-fluid footer-logo" alt="logo" />

                            <div class="text-center d-sm-none mt-4">
                                <a href="#wrapper"><img src="/content/images/backtotop.svg" alt="icon" /></a>
                            </div>
                        </div>
                        <!-- /.col-lg-2 col-md-3 -->
                        <div class="col-lg-3 col-md-3" style="position: relative;top: -3px;">
                            <p>All Rights Reserved © 2020</p>
                        </div>
                        <!-- /.col-lg-2 col-md-3 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.footer-copyright -->
            </div>
            <!-- /.container -->
        </footer>

    </div>
    <script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js" integrity="sha256-6O5DljdGA6AiaEVC/Zn8pNLNbQGparYTI9091fGX64k=" crossorigin="anonymous"></script>
    <script src="/scripts/fullscreenForm.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/bundles/customJs?v=-llQxZmKpJ0eV8W-SLCzWawULBByKEYNNmYIXcFOGCM1"></script>

</body>
</html>
