<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enhance Club - Invoice</title>
    <link rel="stylesheet" href="../../content/css/email-template.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Hero -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FBA303" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;">
                    <tr>
                        <td>
                            <img style="display:block;" width="100%" src="../../content/images/email-hero-3.png" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Sub heading -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FFFFFF" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;margin-top:20px;margin-bottom:20px;">
                    <tr style="vertical-align: middle;">
                        <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;font-weight:700;font-size:32px">
                            <span style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;">
                                Hi Michael,
                            </span><br>
                            Have sex on the brain?
                        </td>
                        <td width="50%" align="center" style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:700;color:#FFFFFF;">
                            <a class="bg-dark" style="text-transform:uppercase;padding:20px 50px;border-radius:50px;text-decoration:none;line-height:normal;color:#ffffff;" href="#">
                                Reset Password
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;margin-top:20px;margin-bottom:20px;">
                    <tr>
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;color:#7c7c7c;">
                            If you’ve forgotten your password or want a reset, we can help you whip one off. Just click the button above. If not, simply ignore and enjoy this awkward silence together.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- How To Order -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FBA303" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                    <tr style="vertical-align: middle;">
                        <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                            <h1 style="font-weight:700;font-size:32px;">
                                How To Order
                            </h1><br>
                            <span style="font-size:22px;font-weight:700;">
                                Call
                            </span><br>
                            <a href="tel:1-888-798-9128" style="color:#ffffff;font-size:22px;text-decoration:none;">1-888-798-9128</a><br>
                            </h1><br>
                            <span style="font-size:22px;font-weight:700;">
                                Visit Us Online
                            </span><br>
                            <a href="http://www.enhanceclub.com" style="color:#ffffff;font-size:22px;text-decoration:none;">enhanceclub.com</a><br>
                        </td>
                        <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;color:#7c7c7c;">
                            <img style="display:block;border-style:none;" src="../../content/images/howtoorder.png" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Footer -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#1a1a1a" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                    <tr style="vertical-align: top;" valign="top">
                        <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                            <h1 style="font-size:32px;font-weight:400;color:#ffffff;">Need Help?</h1><br>
                            <a href="#" style="font-size:18px;color:#a5a5a5;text-decoration:none;">Customer Service</a><br><br>
                            <a href="#" style="font-size:18px;color:#a5a5a5;text-decoration:none;">Get in Touch</a><br><br>
                            <a href="#" style="font-size:18px;color:#a5a5a5;text-decoration:none;">FAQs</a><br><br>
                        </td>
                        <td width="50%" align="right" style="font-family:'Kumbh Sans',arial,sans-serif;text-align:right;">
                            <h1 style="font-size:32px;font-weight:400;color:#ffffff;">Find Help</h1><br>
                            <span style="font-weight:900;font-size:22px;color:#ffffff;">Call</span><br>
                            <a href="tel:1-888-798-9128" style="font-size:18px;color:#FBA303;text-decoration:none;">1-888-798-9128</a><br><br>
                            <span style="font-weight:900;font-size:22px;color:#ffffff;">Email</span><br>
                            <a href="mailto:customerservice@enhanceclub.com" style="font-size:18px;color:#FBA303;text-decoration:none;">customerservice@enhanceclub.com</a><br><br>
                        </td>
                    </tr>
                    <tr style="vertical-align:bottom;" valign="bottom">
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:18px;color:#ffffff;">
                            &nbsp;<br>
                            FOLLOW US
                            <table style="margin-top:20px;vertical-align: middle;" valign="middle">
                                <tr>
                                    <td width="70px">
                                        <a href="#">
                                            <img src="../../Content/images/facebook-icon.png" alt="">
                                        </a>
                                    </td>
                                    <td width="70px">
                                        <a href="#">
                                            <img src="../../Content/images/twitter-icon.svg" alt="">
                                        </a>
                                    </td>
                                    <td width="70px">
                                        <a href="#">
                                            <img src="../../Content/images/youtube-icon.svg" alt="">
                                        </a>
                                    </td>
                                    <td width="70px">
                                        <a href="#">
                                            <img src="../../Content/images/instagram-icon.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;color:#ffffff;text-align:right;">
                            <a href="#" style="color:#ffffff;text-decoration: none;">
                                Privacy Policy
                            </a>
                        </td>
                    </tr>
                    <tr style="vertical-align: middle;" valign="middle">
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;color:#ffffff;text-align:left;">
                            &nbsp;<br>
                            <img style="display:block;width:200px;" src="../Content/images/footerlogo.png" alt=""><br>
                            &nbsp;
                        </td>
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;color:#ffffff;text-align:right;">
                            &nbsp;<br>
                            All Rights Reserved &copy; 2020<br>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>