


<!DOCTYPE html>

<html>
    <base href="https://doctoradminportaltest-env.eba-zqhrfpnj.ca-central-1.elasticbeanstalk.com/">
    
    <head title="Order Invoice">
    <title>Order Invoice</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/ProjectCustomStyle.css" rel="stylesheet" />

    <script src="/Content/js/jquery.min.js"></script>

    <script language="Javascript">
        $(document).ready(function () {


        });

    </script>
    <style>

    </style>
</head>
<body>

        <div class="" style="page-break-after: always;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading list_header_bg_dark less-padding-4">
                                    <h4 class="no-tb-margin">
                                        Barcode
                                    </h4>
                                </div>
                                <div class="panel-body text-center">
                                    <img src="http://via.placeholder.com/300x200.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid text-small">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="account">


                                
    <div class="row">
        <div class="col-xs-6">
            <h1 class="no-margin-top">

                <img src="/content/images/invoiceHeader/storefront_63.jpg">

            </h1>
        </div>

        <div class="col-xs-6 col-top-padding">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
                
                <div class="row">
                    <div class="col-xs-6">
                        Order Invoice :
                    </div>

                    <div class="col-xs-6">
                        3774398
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Order Date :
                    </div>

                    <div class="col-xs-6">
                        04-Sep-2020
                    </div>
                </div>
                
                

            </div>
        </div>
    </div>
                <div class="row row-eq-height">
                    <div class="col-xs-6 less-right-padding">
                        <div class="panel panel-default height-100">
                            

                            <div class="panel-heading list_header_bg_dark less-padding-4">
                                <h4 class="no-tb-margin">Billing Info</h4>
                            </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Customer:</b>
                                        </div>

                                        <div class="col-md-6">
                                            2965586
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Customer Name:</b>
                                        </div>

                                        <div class="col-md-6">
                                            Joseph Camarra
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Address:</b>
                                        </div>

                                        <div class="col-md-6">
                                            680 North Lake Shore Drive, Unit 1004
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>City, State:</b>
                                        </div>

                                        <div class="col-md-6">
                                            Chicago Illinois
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Country:</b>
                                        </div>

                                        <div class="col-md-6">
                                            United States
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Zip Code:</b>
                                        </div>

                                        <div class="col-md-6">
                                            60611
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Phone:</b>
                                        </div>

                                        <div class="col-md-6">
                                            312-929-2421
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Email:</b>
                                        </div>

                                        <div class="col-md-6">
                                            <a href="mailto:godzilla.girl@yahoo.com">godzilla.girl@yahoo.com</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                    </div>

                    <div class="col-xs-6 less-left-padding zero-margin">
                        <div class="panel panel-default">
                            <div class="panel-heading list_header_bg_dark less-padding-4">
                                <h4 class="no-tb-margin">Shipping Info</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>First Name:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Joseph
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Last Name:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Camarra
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Address:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        680 North Lake Shore Drive, Unit 1004
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>City:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Chicago
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>State:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Illinois
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Country:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        United States
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Zip Code:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        60611
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Phone:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        312-929-2421
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Email:</b>
                                    </div>

                                    <div class="col-md-6">
                                        <a href="mailto:godzilla.girl@yahoo.com">godzilla.girl@yahoo.com</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="list_header_bg no-padding">
                            <th></th>
                            <th><h4 class="no-tb-margin">Shipping Num</h4></th>
                            <th><h4 class="no-tb-margin">Pharmacy</h4></th>
                            <th><h4 class="no-tb-margin">Product</h4></th>
                            <th><h4 class="no-tb-margin">Qty</h4></th>
                            <th><h4 class="no-tb-margin">Price</h4></th>
                            <th><h4 class="no-tb-margin">Subtotal</h4></th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr class="no-padding">
                                <td> 1</td>
                                <td>
<a class="" href="/shippinginvoice/shipInvoiceadmin?shippinginvoiceid=6612433" style="padding:2px; margin-right: 0" target="_blank">6612433</a>

                                </td>

                                <td>.</td>

                                <td>
                                    Benicar (Olmesartan)  40mg 84.00

tablets
                                                                        
                                </td>

                                <td class="text-left">1</td>
                                <td class="text-left">$160.00</td>
                                <td class="text-left padding-left-15">$160.00</td>
                            </tr>
                            <tr class="no-padding">
                                <td> 2</td>
                                <td>
<a class="" href="/shippinginvoice/shipInvoiceadmin?shippinginvoiceid=6612468" style="padding:2px; margin-right: 0" target="_blank">6612468</a>

                                </td>

                                <td>.</td>

                                <td>
                                    Bystolic (Nebivolol) Generic 5mg 100.00

tablets
                                                                        
                                </td>

                                <td class="text-left">1</td>
                                <td class="text-left">$78.00</td>
                                <td class="text-left padding-left-15">$78.00</td>
                            </tr>

                        
                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Cart Subtotal :</strong></td>
                            <td>$238.00</td>
                        </tr>

                        
                        <tr class=" no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Credits Applied:</strong></td>
                            <td>-$50.00</td>
                        </tr>

                        
                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong> Coupon Discount:</strong></td>
                            <td>
                                -$11.90
                            </td>
                        </tr>

                        
                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Shipping Cost:</strong></td>
                            <td>$20.00</td>
                        </tr>

                        

                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Grand Total :</strong></td>
                            <td>$196.10</td>
                        </tr>


                    </tbody>
                </table>
     <div class="panel panel-default panel-margin" style="width: 100%">
         <div class="panel-heading list_header_bg_dark less-padding-4">
             <h4 class="no-tb-margin">
                 Payment Information
             </h4>
         </div>

         <div class="panel-body">
             <div class="row">
                 <div class="col-xs-5">
                        <h1 class="no-margin-top">
                            
                            <img src="/content/images/invoiceHeader/storefront_63.jpg">

                        </h1>
                  </div>
                 <div class="col-xs-3">
                     <table class="table border-none" style="margin-top: 40px;">
                         <tr class="no-padding-zero">
                             <td>Customer ID: </td>
                             <td> 2965586</td>
                         </tr>
                         <tr class="no-padding-zero">
                             <td><b>Order Invoice Num: </b></td>
                             <td><b>3774398</b></td>
                         </tr>
                         <tr class="no-padding-zero">
                             <td>Amount: </td>
                             <td>
                                 <b>


$196.10                                 </b>
                             </td>
                         </tr>
                     </table>

                 </div>

             </div>

         </div>

      </div>




                            </div>
                        </div>
                    </div>
                </div>
                            <div>
                    <img src="\prescriptions\Prescription-3774398.png" />
                </div>

        </div>
        <br />
        <br />
        <hr />
        <hr />
        <div style="page-break-after: always;">
                <div>
                    <img src="/content/images/barcodes/6612468.png">
                </div>
                <div class="container-fluid text-small">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="account">


                                
    <div class="row">
        <div class="col-xs-6">
            <h1 class="no-margin-top">

                <img src="/content/images/invoiceHeader/storefront_63.jpg">

            </h1>
        </div>

        <div class="col-xs-6 col-top-padding">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
                
                <div class="row">
                    <div class="col-xs-6">
                        Order Invoice :
                    </div>

                    <div class="col-xs-6">
                        3774398
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Order Date :
                    </div>

                    <div class="col-xs-6">
                        04-Sep-2020
                    </div>
                </div>
                
                

            </div>
        </div>
    </div>
                <div class="row row-eq-height">
                    <div class="col-xs-6 less-right-padding">
                        <div class="panel panel-default height-100">
                            

                            <div class="panel-heading list_header_bg_dark less-padding-4">
                                <h4 class="no-tb-margin">Billing Info</h4>
                            </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Customer:</b>
                                        </div>

                                        <div class="col-md-6">
                                            2965586
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Customer Name:</b>
                                        </div>

                                        <div class="col-md-6">
                                            Joseph Camarra
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Address:</b>
                                        </div>

                                        <div class="col-md-6">
                                            680 North Lake Shore Drive, Unit 1004
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>City, State:</b>
                                        </div>

                                        <div class="col-md-6">
                                            Chicago Illinois
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Country:</b>
                                        </div>

                                        <div class="col-md-6">
                                            United States
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Zip Code:</b>
                                        </div>

                                        <div class="col-md-6">
                                            60611
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Phone:</b>
                                        </div>

                                        <div class="col-md-6">
                                            312-929-2421
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Email:</b>
                                        </div>

                                        <div class="col-md-6">
                                            <a href="mailto:godzilla.girl@yahoo.com">godzilla.girl@yahoo.com</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                    </div>

                    <div class="col-xs-6 less-left-padding zero-margin">
                        <div class="panel panel-default">
                            <div class="panel-heading list_header_bg_dark less-padding-4">
                                <h4 class="no-tb-margin">Shipping Info</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>First Name:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Joseph
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Last Name:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Camarra
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Address:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        680 North Lake Shore Drive, Unit 1004
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>City:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Chicago
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>State:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        Illinois
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Country:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        United States
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Zip Code:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        60611
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Phone:</b>
                                    </div>

                                    <div class="col-md-6 ">
                                        312-929-2421
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <b>Email:</b>
                                    </div>

                                    <div class="col-md-6">
                                        <a href="mailto:godzilla.girl@yahoo.com">godzilla.girl@yahoo.com</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="list_header_bg no-padding">
                            <th></th>
                            <th><h4 class="no-tb-margin">Shipping Num</h4></th>
                            <th><h4 class="no-tb-margin">Pharmacy</h4></th>
                            <th><h4 class="no-tb-margin">Product</h4></th>
                            <th><h4 class="no-tb-margin">Qty</h4></th>
                            <th><h4 class="no-tb-margin">Price</h4></th>
                            <th><h4 class="no-tb-margin">Subtotal</h4></th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr class="no-padding">
                                <td> 1</td>
                                <td>
<a class="" href="/shippinginvoice/shipInvoiceadmin?shippinginvoiceid=6612433" style="padding:2px; margin-right: 0" target="_blank">6612433</a>

                                </td>

                                <td>.</td>

                                <td>
                                    Benicar (Olmesartan)  40mg 84.00

tablets
                                                                        
                                </td>

                                <td class="text-left">1</td>
                                <td class="text-left">$160.00</td>
                                <td class="text-left padding-left-15">$160.00</td>
                            </tr>
                            <tr class="no-padding">
                                <td> 2</td>
                                <td>
<a class="" href="/shippinginvoice/shipInvoiceadmin?shippinginvoiceid=6612468" style="padding:2px; margin-right: 0" target="_blank">6612468</a>

                                </td>

                                <td>.</td>

                                <td>
                                    Bystolic (Nebivolol) Generic 5mg 100.00

tablets
                                                                        
                                </td>

                                <td class="text-left">1</td>
                                <td class="text-left">$78.00</td>
                                <td class="text-left padding-left-15">$78.00</td>
                            </tr>

                        
                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Cart Subtotal :</strong></td>
                            <td>$238.00</td>
                        </tr>

                        
                        <tr class=" no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Credits Applied:</strong></td>
                            <td>-$50.00</td>
                        </tr>

                        
                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong> Coupon Discount:</strong></td>
                            <td>
                                -$11.90
                            </td>
                        </tr>

                        
                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Shipping Cost:</strong></td>
                            <td>$20.00</td>
                        </tr>

                        

                        <tr class="no-border no-padding-zero">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td><strong>Grand Total :</strong></td>
                            <td>$196.10</td>
                        </tr>


                    </tbody>
                </table>
     <div class="panel panel-default panel-margin" style="width: 100%">
         <div class="panel-heading list_header_bg_dark less-padding-4">
             <h4 class="no-tb-margin">
                 Payment Information
             </h4>
         </div>

         <div class="panel-body">
             <div class="row">
                 <div class="col-xs-5">
                        <h1 class="no-margin-top">
                            
                            <img src="/content/images/invoiceHeader/storefront_63.jpg">

                        </h1>
                  </div>
                 <div class="col-xs-3">
                     <table class="table border-none" style="margin-top: 40px;">
                         <tr class="no-padding-zero">
                             <td>Customer ID: </td>
                             <td> 2965586</td>
                         </tr>
                         <tr class="no-padding-zero">
                             <td><b>Order Invoice Num: </b></td>
                             <td><b>3774398</b></td>
                         </tr>
                         <tr class="no-padding-zero">
                             <td>Amount: </td>
                             <td>
                                 <b>


$196.10                                 </b>
                             </td>
                         </tr>
                     </table>

                 </div>

             </div>

         </div>

      </div>




                            </div>
                        </div>
                    </div>
                </div>
                            <div>
                    <img src="\prescriptions\Prescription-3774398.png" />
                </div>

        </div>
        <br />
        <br />
        <hr />
        <hr />

    <a href="#" class="bottom-margin-10 left-margin">Print</a>
    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/Bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Content/Bootstrap/js/transition.js"></script>
    <script src="/Content/Build/js/custom.js"></script>

<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Chrome","requestId":"8d52adc0c112465f8294263d672c3425"}
</script>
<script type="text/javascript" src="http://localhost:54000/d6e0351d94574819af0371d62c6c0590/browserLink" async="async"></script>
<!-- End Browser Link -->

</body>

</html>
