
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Enhance Club is Where Modern Men Buy CIALIS
    </title>

    <meta name="description">
    <style>
        html {
            font-family: 'sans-serif';
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../content/css/main.css" />
</head>
<body>

    <div id="wrapper" class="header-">
        <nav class="navbar fixed-top navbar-expand-md">
            <button class="btn btn-menu btn-reset"><img src="../../content/images/menu-icon.png" alt="menu" /></button>
            <a class="navbar-brand" href="/">
                <img src="../../content/images/logo-black.svg" class="default" alt="black" /><img src="../../content/images/logo-active.svg" class="active" alt="black" />
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <span class="nav-link cart-open d-md-none">
                Cart <span class="badge badge-count">0</span>
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <span class="nav-link cart-open">
                            Cart <span class="badge badge-count">
                                <div class="ld-module-cart">
                                    <span class="ld-module-trigger collapsed" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#shop-cart" aria-controls="shop-cart" aria-expanded="false">
                                        <span class="ld-module-trigger-icon">
                                            <i class="icon-ld-cart"></i>
                                        </span><!-- /.ld-module-trigger-icon -->
                                        <span class="ld-module-trigger-count">0</span>
                                    </span><!-- /.ld-module-trigger -->
                                    <!-- /.ld-module-dropdown -->
                                </div><!-- /.module-cart -->
                            </span>
                        </span>

                        <!-- check with sandy how this menu activates-->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="popup-navbar d-flex justify-content-center flex-column">
            <button class="btn btn-reset btn-menu-close"><img src="../../content/images/close.png" alt="icon" /></button>
            <!-- <img src="../../content/images/popup-image.png" alt="image" class="popup-image" /> -->
            <div class="popup-menu d-flex align-items-end flex-wrap">
                <div class="w-100 py-3">
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            <h3>Enhance <br />Club</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <ul class="list-unstyled list-links club-menu">
                                <li>
                                    <a class="" href="/">Home</a>
                                </li>
                                <li>
                                    <a class="" href="/about">About us</a>

                                </li>
                                <li>
                                    <a class="" href="/how-it-works">How it Works</a>

                                </li>
                                <li>
                                    <a class="" href="/blog">Learn</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            <h3>Products</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <ul class="list-unstyled list-links">

                                <li>

                                    <a href="/products/viagra-otc" class="">
                                        SPIKE<span class="viagra-gradient">VIAGRA</span>

                                    </a>

                                </li>
                                <li>
                                    <a href="/products/cialis-otc" class="">
                                        <span class="viagra-gradient">
                                            PLAY<span class="cialis-gradient">CIALIS</span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/products/propecia-otc" class="">
                                        <span class="viagra-gradient">
                                            Arise <span class="finasteride-gradient">FINASTERIDE</span>
                                        </span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            <h3>Need <br />help?</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <ul class="list-unstyled list-links">
                                <li>

                                    <a class="" href="/get-in-touch">Get in Touch</a>

                                </li>
                                <li>

                                    <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>

                                </li>

                                <li>

                                    <a class="" href="/shipping-and-returns">Shipping &amp; Returns</a>

                                </li>

                                <li>

                                    <a class="" href="/privacy-policy">Privacy Policy</a>

                                </li>

                                <li>

                                    <a class="" href="/faq">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                    <div class="row popup-social">
                        <div class="col-md-3 text-md-right">
                            <h3>Follow us</h3>
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-9">
                            <a href="https://www.facebook.com/enhanceclubnow" target="_blank"><img src="../../content/images/facebook-yl.svg" alt="icon" /></a>
                            <a href="http://twitter.com/enhanceclub" target="_blank"><img src="../../content/images/twitter-yl.svg" alt="icon" /></a>
                            <a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA" target="_blank"><img src="../../content/images/youtube-yl.svg" alt="icon" /></a>
                            <a href="http://instagram.com/enhanceclub" target="_blank"><img src="../../content/images/instagram-yl.svg" alt="icon" /></a>

                        </div>
                        <!-- /.col-md-9 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.m-auto -->

                <div class="popup-social w-100">
                </div>
                <!-- /.popup-social -->
            </div>
            <!-- /.popup-menu -->

        </div>


        <!-- /.popup-navbar -->


        <div id="cart-popup">

        </div>

        
        <main class="product-page acyclovir">
            
            <section class="product-item">
                <img src="../../content/images/products/pills.png" class="product-pills" />
                <img src="../../content/images/products/product-item-13413.png" class="product" />
            </section>
            <section class="product-page-banner">
                <div class="product-banner-wrapper">
                    <!-- <img src="../../content/images/product/product-banner.gif" /> -->
                    <video class="d-block w-100" autoplay="true" muted="true" loop="true" poster="../../content/images/products/product-item-13413.png">
                        <source src="../../content/images/video/13413.mp4" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <div class="product-banner-bg"></div>
                    <div class=bg-yellow></div>
                </div>
                <div class="container">
                    <div class="content">
                        <h1>Come out<br />and play!</h1>
                        <p>
                            CIALIS is a prescription medication that is taken orally to help treat erectile dysfunction (ED) and symptoms of benign prostatic hyperplasia (BPH).
                        </p>
                    </div>
                </div>
            </section>
            <div class="about-product-section" id="aboutProductSection">
                <div class="bg-brand"></div>
                <section class="about-product section">
                    <div class="bg-brand"></div>
                    <div class="container">
                        <div class="content-section">
                            <h3 class="white">Cialis</h3>
                            <h5>When do you take them?</h5>
                            <p>
                            <p>CIALIS (tadalafil) helps give men the freedom to have sex whenever they want. It lets guys take command of their sexual performance, on-demand. Tadalafil is a prescription pill you swallow at the same time, every day. It helps treat erectile dysfunction (ED) by increasing blood flow to the penis. Together with stimulation, it helps men get an erection and maintain an erection.</p>
                            </p>
                        </div>
                    </div>
                    <a href="#product-description" class="next-section">
                        <img src="../../content/images/icons/arrow-down.svg" alt="Go to" />
                    </a>
                </section>
                <section class="product-description section pb-0">
                    <div class="bg-brand"></div>
                    <div class="container">
                        <div class="content-section">
                            <div class="tabs" id="product-info">
                                <nav class="tab-nav">
                                    <ul>
                                        <li class="active">
                                            <button data-href="#information">
                                                <i><img src="../../content/images/icons/info.svg" /></i>
                                                <span>Information</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button data-href="#side-effects">
                                                <i><img src="../../content/images/icons/side-effects.svg" /></i>
                                                <span>Side Effects</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button data-href="#feel">
                                                <i><img src="../../content/images/icons/what-do-you-feel.svg" /></i>
                                                <span>What do you feel?</span>
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="tab-content">
                                    <div id="information" class="tab active">
                                        <h5>Medical Information</h5>
                                        <p>Tadalafil is a prescription medication. It&rsquo;s recommended you follow your doctor&rsquo;s recommended daily dosage. Some patients may require different doses. Tadalafil does not protect against sexually transmitted diseases, such as HIV. tadalafil helps improve the quality of a stimulated erection. Simply taking tadalafil will not cause an erection.</p>
                                        <p>Tadalafil is also commonly used to help relieve symptoms of benign prostatic hyperplasia (BPH). It helps improve a man&rsquo;s control and frequency of urination.</p>
                                        <p><strong><span style="text-decoration: underline;">IMPORTANT NOTE</span>:</strong>&nbsp;The above information is intended to increase awareness of health information and does not suggest treatment or diagnosis. This information is not a substitute for individual medical attention and should not be construed to indicate that use of the drug is safe, appropriate, or effective for you. See your health care professional for medical advice and treatment.</p>
                                        <div class="dose-recommendation">
                                            <div class="dose-write-up">
                                                <p class="title">Recommended dose (per day)</p>
                                                <p class="small">
                                                    The recommended dose is one tablet (20 mg) before sexual activity,
                                                    as needed.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="side-effects" class="tab">
                                        <h5>Side effects</h5>
                                        <p>
                                        <p>Some common and uncommon side effects when taking tadalafil include headache, muscle pain and dizziness. &nbsp;Consult your doctor or pharmacist if you have questions about any side effects. Tadalafil may interfere with other medications or medical conditions, such as heart disease or high blood pressure. Always consult a physician to see if taking CIALIS is right for you.</p>
                                        <p>If you are also taking <em>Finasteride</em> for an enlarged prostate (BPH) consult a physician before taking tadalafil.</p>
                                        </p>
                                    </div>
                                    <div id="feel" class="tab">
                                        <h5>What do you feel?</h5>
                                        <p>If experiencing an erection lasting 4 hours or more, immediately seek medical attention.&nbsp; A prolonged erection could cause permanent damage if left untreated. Men should only change their dosage at the direction of a physician. The effects of tadalafil may last up to 36 hours.</p>
                                        <p>
                                            Still need some answers?
                                            <strong>
                                                <a href="/get-in-touch">Get in touch with us!</a>
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#related-items" class="next-section">
                        <img src="../../content/images/icons/arrow-down.svg" alt="Go to" />
                    </a>
                </section>
                <section class="section product-action">    
                    <div class="bg-brand gradient"></div>
                    <div class="container">
                        <div class="warning">
                            <div class="icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                            </div>
                            <p class="info">
                                The recommended dose is one tablet (20 mg per day) before sexual activity, as needed.
                            </p>
                        </div>
                        <!-- .action-items -->
                        <div class="action-items">
                            <div class="form-control">
                                <div class="form-group">
                                    <select name="productsizeId" class="" id="menu-brand" name="menu-brand">
                                        <option value="34036">Generic</option>
                                        <option value="34066">Brand</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="productsizeId" class="" id="menu-brand" name="menu-brand">
                                        <option value="34036">10mg - 4 tablets</option>
                                        <option value="34037">20mg - 4 tablets</option>
                                        <option value="34059">5mg - 28 tablets</option>
                                        <option value="34060">2.5mg - 28 tablets</option>
                                        <option value="34064">5mg - 28 tablets</option>
                                        <option value="34063">2.5mg - 28 tablets</option>
                                        <option value="34065">10mg - 4 tablets</option>
                                        <option value="34066">20mg - 4 tablets</option>
                                    </select>
                                </div>
                                <button class="btn btn__secondary btn--rounded" id="get-product">
                                    Get it now
                                </button>
                            </div>
                        </div>
                        <!-- /.action-items -->
                    </div>
                </section>
            </div>
            <div class="related-items" id="related-items">
                <div class="bg-brand bg-small"></div>
                <div class="container">
                    <div class="row main-margin">
                        <div class="col-sm-12">
                            <h3 class="mb-4">You might <br />also like</h3>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13413.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        play
                                    </h5>
                                    <p class="large">cialis</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13412.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        spike
                                    </h5>
                                    <p class="large">viagra</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13414.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        arise
                                    </h5>
                                    <p class="large">finasteride</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13430.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        nostrum
                                    </h5>
                                    <p class="large">valtrex</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13429.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        ease
                                    </h5>
                                    <p class="large">staxyn</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13424.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        levitra
                                    </h5>
                                    <p class="large">levitra</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13431.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        fresh
                                    </h5>
                                    <p class="large">acyclovir</p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 related-item">
                            <a href="http://staging.enhanceclub.com/products/viagra-otc">
                                <div class="related-item-img">
                                    <img src="../../content/images/products/product-item-13425.png" />
                                </div>
                                <div class="related-item-info">
                                    <h5>
                                        poke
                                    </h5>
                                    <p class="large">caverject</p>
                                </div>
                                
                            </a>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer w-100">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <h3>Enhance Club</h3>
                            <ul class="list-unstyled list-links">
                                <li>
                                    <a class="" href="/">Home</a>
                                </li>

                                <li>
                                    <a class="" href="/about">About us</a>

                                </li>

                                <li>
                                    <a class="" href="/how-it-works">How it Works</a>

                                </li>

                                <li>
                                    <a class="" href="/blog">Learn</a>
                                </li>
                            </ul>
                        </div>

                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                        <div class="col-xl-4 col-md-3 col-sm-6">
                            <h3>Products</h3>
                            <ul class="list-unstyled list-links">
                                <li>
                                    <a href="/products/viagra-otc" class="">
                                        SPIKE<span class="viagra-gradient">VIAGRA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/cialis-otc" class="">
                                        PLAY<span class="cialis-gradient">CIALIS</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/propecia-otc" class="">
                                        ARISE <span class="finasteride-gradient">FINASTERIDE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/viagra-otc" class="">
                                        NOSTRUM<span class="valtrex-gradient">VALTREX</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/cialis-otc" class="">
                                        EASE<span class="staxyn-gradient">STAXYN</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/propecia-otc" class="">
                                        LEVITRA <span class="vandernafil-gradient">VANDERNAFIL</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/cialis-otc" class="">
                                        FRESH<span class="acyclovir-gradient">ACYCLOVIR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/products/propecia-otc" class="">
                                        POKE <span class="caverject-gradient">CAVERJECT</span>
                                    </a>
                                </li>
                            </ul>
                           
                        </div>

                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <h3>Need help?</h3>
                            <ul class="list-unstyled list-links">
                                <li>
                                    <a class="" href="/get-in-touch">Get in Touch</a>
                                </li>
                                <li>
                                    <a class="" href="/faq">FAQs</a>
                                </li>
                            </ul>
                        </div>

                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                        <div class="col-lg-2 ml-auto col-md-3 col-sm-6">
                            <h4>FOLLOW US</h4>
                            <ul class="list-unstyled social-media d-flex justify-content-sm-start justify-content-center">
                                <li><a href="https://www.facebook.com/enhanceclubnow" target="_blank"><img src="../../content/images/facebook-icon.svg" alt="icon" /></a></li>
                                <li><a href="http://twitter.com/enhanceclub" target="_blank"><img src="../../content/images/twitter-icon.svg" alt="icon" /></a></li>
                                <li><a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA" target="_blank"><img src="../../content/images/youtube-icon.svg" alt="icon" /></a></li>
                                <li><a href="http://instagram.com/enhanceclub" target="_blank"><img src="../../content/images/instagram-icon.svg" alt="icon" /></a></li>



                            </ul>
                        </div>
                        <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.footer-content -->
                <div class="footer-copyright">
                    <div class="row align-items-end text-md-left text-center">
                        <div class="col-lg-7 col-md-6 order-md-3">
                            <ul class="list-unstyled mb-0 d-flex justify-content-center flex-wrap justify-content-md-end">

                                <li>

                                    <a class="" href="/shipping-and-returns">Shipping &amp; Returns</a>

                                </li>

                                <li>

                                    <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>

                                </li>

                                <li>

                                    <a class="" href="/privacy-policy">Privacy Policy</a>

                                </li>

                            </ul>
                        </div>
                        <!-- /.col-lg-2 col-md-3 -->
                        <div class="col-lg-2 col-md-3 my-md-0 my-4">
                            <img src="../../content/images/footerlogo.svg" class="img-fluid footer-logo" alt="logo" />

                            <div class="text-center d-sm-none mt-4">
                                <a href="#wrapper"><img src="../../content/images/backtotop.svg" alt="icon" /></a>
                            </div>
                        </div>
                        <!-- /.col-lg-2 col-md-3 -->
                        <div class="col-lg-3 col-md-3" style="position: relative;top: -3px;">
                            <p>All Rights Reserved © 2020</p>
                        </div>
                        <!-- /.col-lg-2 col-md-3 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.footer-copyright -->
            </div>
            <!-- /.container -->
        </footer>

    </div>
    <script type="text/javascript" src="../../jquery/jquery-3.4.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js" integrity="sha256-6O5DljdGA6AiaEVC/Zn8pNLNbQGparYTI9091fGX64k=" crossorigin="anonymous"></script>
    <script src="../../scripts/fullscreenForm.js"></script>
    <script src="../../scripts/main.js"></script>
    <script src="../../bundles/customJs?v=-llQxZmKpJ0eV8W-SLCzWawULBByKEYNNmYIXcFOGCM1"></script>





</body>
</html>
