
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">








    <title>
        
    </title>

    <meta name="description">

    <style>
        html {
            font-family: 'sans-serif';
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/content/css/main.css" />

</head>
<body>

    <div id="wrapper" class="header-">
        
<nav class="navbar fixed-top navbar-expand-md">
    <button class="btn btn-menu btn-reset"><img src="/content/images/menu-icon.png" alt="menu" /></button>
    <a class="navbar-brand" href="/">
        <img src="/content/images/logo-black.svg" class="default" alt="black" /><img src="/content/images/logo-active.svg" class="active" alt="black" />
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    
    <span class="nav-link cart-open d-md-none">

        
        
        Cart <span class="badge badge-count">

<div class="ld-module-cart">

    <span class="ld-module-trigger collapsed" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#shop-cart" aria-controls="shop-cart" aria-expanded="false">
        <span class="ld-module-trigger-icon">
            <i class="icon-ld-cart"></i>
        </span><!-- /.ld-module-trigger-icon -->
        <span class="ld-module-trigger-count">0</span>
    </span><!-- /.ld-module-trigger -->

    <!-- /.ld-module-dropdown -->

</div><!-- /.module-cart --> </span>
        

    </span>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/#shop">Shop</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" href="/login">
                    Login
                </a>
            </li>

            <li class="nav-item dropdown">
               
                
                <span class="nav-link cart-open">
                    
                    
                    Cart <span class="badge badge-count">

<div class="ld-module-cart">

    <span class="ld-module-trigger collapsed" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#shop-cart" aria-controls="shop-cart" aria-expanded="false">
        <span class="ld-module-trigger-icon">
            <i class="icon-ld-cart"></i>
        </span><!-- /.ld-module-trigger-icon -->
        <span class="ld-module-trigger-count">0</span>
    </span><!-- /.ld-module-trigger -->

    <!-- /.ld-module-dropdown -->

</div><!-- /.module-cart --> </span>

                </span>
                

                <!-- check with sandy how this menu activates-->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>





<div class="popup-navbar d-flex justify-content-center flex-column">
    <button class="btn btn-reset btn-menu-close"><img src="/content/images/close.png" alt="icon" /></button>
    <!-- <img src="/content/images/popup-image.png" alt="image" class="popup-image" /> -->
    <div class="popup-menu d-flex align-items-end flex-wrap">
        <div class="w-100 py-3">
            <div class="row">
                <div class="col-md-3 text-md-right">
                    <h3>Enhance <br />Club</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                    <ul class="list-unstyled list-links club-menu">
                        <li>
                            <a class="" href="/">Home</a>
                        </li>
                        <li>
                            <a class="" href="/about">About us</a>

                        </li>
                        <li>
                            <a class="" href="/how-it-works">How it Works</a>

                        </li>
                        <li>
                            <a class="" href="/blog">Learn</a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-3 text-md-right">
                    <h3>Products</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                   <ul class="list-unstyled list-links">

    <li>

        <a href="/products/viagra-otc" class="">
            SPIKE<span class="viagra-gradient">VIAGRA</span>

        </a>

    </li>
    <li>
        <a href="/products/cialis-otc" class="">
            PLAY<span class="cialis-gradient">CIALIS</span>
        </a>
    </li>

    <li>
        <a href="/products/propecia-otc" class="">
            ARISE <span class="finasteride-gradient">FINASTERIDE</span>
        </a>

    </li>
</ul>
                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-3 text-md-right">
                    <h3>Need <br />help?</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                    <ul class="list-unstyled list-links">
                        <li>
                            
                            <a class="" href="/get-in-touch">Get in Touch</a>

                        </li>
                        <li>
                            
                            <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>

                        </li>

                        <li>
                            
                            <a class="" href="/shipping-and-returns">Shipping &amp; Returns</a>

                        </li>

                        <li>
                            
                            <a class="" href="/privacy-policy">Privacy Policy</a>

                        </li>

                        <li>
                            
                            <a class="" href="/faq">FAQs</a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
            <div class="row popup-social">
                <div class="col-md-3 text-md-right">
                    <h3>Follow us</h3>
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-9">
                        <a href="https://www.facebook.com/enhanceclubnow" target="_blank"><img src="/content/images/facebook-yl.svg" alt="icon" /></a>
    <a href="http://twitter.com/enhanceclub" target="_blank"><img src="/content/images/twitter-yl.svg" alt="icon" /></a>
    <a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA" target="_blank"><img src="/content/images/youtube-yl.svg" alt="icon" /></a>
    <a href="http://instagram.com/enhanceclub" target="_blank"><img src="/content/images/instagram-yl.svg" alt="icon" /></a>



                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.m-auto -->

        <div class="popup-social w-100">
        </div>
        <!-- /.popup-social -->
    </div>
    <!-- /.popup-menu -->

</div>



<!-- /.popup-navbar -->

        
         
        
        <div id="cart-popup">
            
        </div>

      
<div class="privacy-banner terms">
    <div class="privacy-clip"></div>
    <!-- <div class="person-image">
        <video autoplay="true" muted="true" loop="true" poster="/content/images/video/style.png">
            <source src="/content/images/video/style.webm" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <img src="/assets/images/terms.png" alt="Terms & Conditions">
    </div> -->
    <div class="container hidden-xs">
        <div class="row">
            <div class="col">
                <!-- <h1>OVERVIEW</h1> -->
                <h1>Terms &amp;<br>Conditions</h1>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="small-container">
            <div class="row">
                <div class="col">
                    <h2 class="visible-xs">Enhance Club Terms & Conditions</h2>
                    <h5 class="hidden-xs">Enhance Club Terms & Conditions</h5>
                    <p>This website is operated by staging.enhanceclub.com (hereafter referred to as staging.enhanceclub.com), and terms like ‘we', ‘us’ and ‘our’ seen throughout the site refer to staging.enhanceclub.com. We make this website, and all of the information, tools and services available within it, available to you based upon your full acceptance of all terms, conditions, policies and notices stated here.</p>
                    <p>Individuals visiting our site and / or making purchases from us are thereby engaging in our ‘service' and will have agreed to be bound by the following terms and conditions (‘Terms of Service’, ‘Terms’). These will include any and all additional terms and conditions or policies referenced herein and / or available by hyperlink. Be aware that these Terms of Service apply to all users of the site, and that will include users who are browsers, vendors, customers, merchants, and / or contributors of content, without limitation.</p>
                    <p>We advise that you read through our Terms of Service carefully and in full before accessing or using our website. Accessing or using any part of the site means that you have agreed to be bound by these Terms of Service. Any who do not agree to all the terms and conditions of this agreement may not access the website, or use any services provided through it. For all services offered through the pharmacy, please be aware that acceptance is expressly limited to these Terms of Service.</p>
                    <p>These Terms of Service will also apply to any new features or tools which are added to the current store. You can rely on seeing the most current version of the Terms of Service at any time on this page, and we reserve the right to update, change, or replace any part of these Terms of Service by posting updates and / or changes to our website. </p>
                    <p>It is the user’s responsibility to check this page for changes, and something that should be done frequently to ensure understanding and compliance terms. Any continued use of the site or access to it indicates the user’s understanding and acceptance of any changes made to terms and conditions.</p>

                    <h2 class="visible-xs">SECTION 1 – ONLINE STORE TERMS</h2>
                    <h5 class="hidden-xs">SECTION 1 – ONLINE STORE TERMS</h5>

                    <p>Agreeing to these Terms of Service will stand as a representation that you are of the age of majority in your Province of residence, or older. Further, it will mean that you have given us your consent to allow any minor (under 18 years of age) dependents in your home to also use this site.</p>
                    <p>Using our products for any illegal or unauthorized purpose is strictly forbidden, as is any violation of laws in your jurisdiction that would occur with use of our service. This is including, but not limited to copyright laws.</p>
                    <p>Be aware that breach or violation of any Online Store Terms indicated here will result in an immediate termination of your Services.</p>

                    <h2 class="visible-xs">SECTION 2 – GENERAL CONDITIONS</h2>
                    <h5 class="hidden-xs">SECTION 2 – GENERAL CONDITIONS</h5>


                    <p>We reserve the right to refuse service to anyone at any time, and for any reason seen to be just cause for such refusal based on our exclusive understanding of it.</p>
                    <p>Users will understand and agree that <p>
                        <ol type="a">
                            <li>
                                Content (not including credit card information) submitted may be unencrypted when transferred and such transmissions may occur over various networks; and
                            </li>
                            <li>
                                May be subject to changes made to conform and adapt to technical requirements of connecting networks or devices.
                            </li>
                        </ol>

                    <p>
                        <u><b>We do ensure that credit card information is always encrypted during transfer over networks.</b></u>
                    </p>
                    <p>Users similarly agree to not reproduce, duplicate, sell, copy, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided. The only exception to this will be if express written permission is provided by us.</p>
                    <p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.</p>

                    <h2 class="visible-xs">SECTION 3 – INFORMATION ACCURACY, COMPLETENESS, AND TIMELINESS</h2>
                    <h5 class="hidden-xs">SECTION 3 – INFORMATION ACCURACY, COMPLETENESS, AND TIMELINESS</h5>
                    <p>
                        We take no responsibility for information made available on this site that is not accurate, complete, or current. Material presented on this site is provided for general information only, and users are not to rely on it or use it as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information.
                    </p>
                    <p>All users must be aware that reliance on the material on this site, to any extent, is done at your own risk.</p>
                    <p>
                        Be aware as well that certain historical information may be found on the site. As it is historical, this information is not to be taken as current or accurate and is being provided for reference purposes only. We reserve the right to modify the contents of this site at any time, but our obligation in this regard does not extend to updating any information on our site. Matters in relation to this will be related to the user’s understanding and acceptance that it is their responsibility to monitor and stay updated on changes to our site.
                    </p>

                    <h2 class="visible-xs">SECTION 4 – SERVICE AND PRICE MODIFICATIONS</h2>
                    <h5 class="hidden-xs">SECTION 4 – SERVICE AND PRICE MODIFICATIONS</h5>
                    <p>
                        Prices for our products are subject to change without notice, and we reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without requiring notice.
                    </p>
                    <p>
                        We assume no liability to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.
                    </p>


                    <h2 class="visible-xs">SECTION 5 – PRODUCTS OR SERVICES (if applicable)</h2>
                    <h5 class="hidden-xs">SECTION 5 – PRODUCTS OR SERVICES (if applicable)</h5>
                    <p>
                        Certain products or services may be available online through the website exclusively.
                        Limited quantities may apply to these products or services, and are subject to return or exchange only as stipulated in our <a href="/shipping-and-returns">Return Policy</a>.
                    </p>
                    <p>
                        We make every effort to display colours and images as accurately as possible within our store. Be aware that there can be many different factors out of our control that may alter the accurate display of these colour or images. Often this will be related to your computer monitor’s display.
                    </p>
                    <p>
                        We reserve the right to limit the sales of our products or Services to any person, geographic region or jurisdiction, while not being obligated to do so either. Whether or not we exercise this right will be evaluated on a case-by-case basis. We further reserve the right to limit the quantities of any products or services that we offer. All descriptions of products or product pricing are subject to change at any time without notice, and entirely at our discretion. We reserve the right to discontinue any product at any time, while any offers for any product or service made on this site will be automatically void where prohibited.
                    </p>
                    <p>
                        That the quality of any products, services, information, or other material purchased or obtained by you meet your expectations is something that we will not warrant, and we also are not responsible for ensuring that errors in the Service will have been corrected. All efforts will be made in this regard, but we cannot guarantee either.

                    </p>

                    <h2 class="visible-xs">SECTION 6 – BILLING AND ACCOUNT INFORMATION ACCURACY</h2>
                    <h5 class="hidden-xs">SECTION 6 – BILLING AND ACCOUNT INFORMATION ACCURACY</h5>
                    <p>
                        We reserve the right to refuse any order you place with us. We reserve the right to limit or cancel quantities purchased per person, per household or per order based exclusively on our own discretion. These restrictions may apply to orders placed by or under the same customer account, the same credit card, and / or orders that are assigned to the same billing and / or shipping address.
                    </p>
                    <p>
                        Changes to or cancellations of orders may occur, and in these instances we may attempt to notify you by contacting the e mail and / or billing address / phone number provided with the order as it was placed. We reserve the right to limit or prohibit orders that appear to be placed by dealers, resellers or distributors, and this too can be decided upon based solely on our own judgment.
                    </p>
                    <p>
                        Users agree to provide current, complete, and accurate purchase and account information for all purchases made through our store. A similar agreement is made to promptly update your account and other information - including email addresses and credit card numbers and expiration dates - so that we can complete your transactions and contact you as needed.
                    </p>
                    <p>
                        For more detail, please review our <a href="/shipping-and-returns">Return Policy</a>
                    </p>
                    <h2 class="visible-xs">SECTION 7 – OPTIONAL TOOLS</h2>
                    <h5 class="hidden-xs">SECTION 7 – OPTIONAL TOOLS</h5>
                    <p>
                        Be aware that site users may be provided with access to third-party tools, and we may not have the ability to either monitor, control, or regulate input into these tools.
                    </p>
                    <p>
                        You acknowledge and agree that we provide access to such tools ‘as is’ and ‘as available’. This means that they are only available for use without any warranties, representations or conditions of any kind, and without any endorsement from us. We will not be liable in any way for any issue arising from or relating to your use of these optional third-party tools.
                    </p>
                    <p>
                        Your use of these optional tools offered through the site is done entirely at your own risk, and you are encouraged to use discretion and ensure that you are familiar with the terms on which tools are provided by the relevant third-party provider(s), and by using them you agree to those third-party providers’ terms.
                    </p>
                    <p>
                        We may also offer new services and / or features through the website (which may include the release of new tools and resources) in the future. Understand that these new features and / or services shall also be subject to these Terms of Service.
                    </p>
                    <h2 class="visible-xs">SECTION 8 – 3RD-PARTY LINKS</h2>
                    <h5 class="hidden-xs">SECTION 8 – 3RD-PARTY LINKS</h5>
                    <p>
                        Certain content, products, and services available via our Service may include materials from third-parties.
                    </p>
                    <p>
                        It is possible that third-party links on this site may direct you to third-party websites, and these websites may not be affiliated with us. We are not responsible for examining or evaluating the content or accuracy of information disclosed through these third-party sites. We do not warrant and will not assume any liability or responsibility for any third-party materials or websites or decisions made by users based on this information.
                    </p>
                    <p>
                        Further, we are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review any third-party’s policies and practices carefully, and any transaction made through them will indicate that you have understood all these policies and practices before engaging in any transaction with a third-party.
                        Complaints, claims, concerns, or questions regarding third-party products may only be directed to the third-party, and we reserve the right to not intake any such communications.
                    </p>
                    <h2 class="visible-xs">SECTION 9 – USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</h2>
                    <h5 class="hidden-xs">SECTION 9 – USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</h5>
                    <p>
                        For instances where we request that you send certain specific submissions (contest entries, as one example) or you choose to send creative ideas, suggestions, proposals, plans, or other materials without any request, the following will apply;
                    </p>
                    <p>
                        You agree that we may - at any time and without restriction - edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. This can apply to ones submitted online, by email, by postal mail, or otherwise.
                    </p>
                    <p>
                        We are and will be under no obligation to
                    </p>
                    <ol type="1">
                        <li>
                            Maintain any comments in confidence.
                        </li>
                        <li>
                            Pay compensation for any comments. 
                        </li>
                        <li>
                            Respond to any comments.
                        </li>
                    </ol>
                    <p>
                        We will also have no obligation to monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or otherwise objectionable. although we may choose to based on our own discretion.
                        This will also apply to any content that violates any party’s intellectual property or these Terms of Service.
                    </p>
                    <p>
                        You also agree that your comments will not be in violation of the rights of any third-party, and this will include copyright, trademark, privacy, personality or any other personal or proprietary right.
                        You further agree that your comments will not contain libellous or otherwise unlawful, abusive or obscene material, and that it will also not contain any computer virus or other malware that could jeopardize the operation of the Service or any website related to it.
                    </p>
                    <p>
                        You may not use or submit a false e mail address, or present yourself with the identity of someone other than yourself. You may not mislead us or third-parties as to the origin of any comments submitted. You are solely responsible for any comments you make and their accuracy.
                        We take no responsibility and assume no liability for any comments posted by you, or posted by any third-party.
                    </p>
                    <h2 class="visible-xs">SECTION 10 – PERSONAL INFORMATION</h2>
                    <h5 class="hidden-xs">SECTION 10 – PERSONAL INFORMATION</h5>
                    <p>
                        Your submission of personal information through the site is governed by our <a href="/privacy-policy">Privacy Policy</a>.
                    </p>
                    <h2 class="visible-xs">SECTION 11 – ERRORS, INACCURACIES AND OMISSIONS</h2>
                    <h5 class="hidden-xs">SECTION 11 – ERRORS, INACCURACIES AND OMISSIONS</h5>
                    <p>
                        While it is unlikely, there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times or product availability. Should any information found within the Service or within related websites is inaccurate, we reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders.
                        This can be done at any time and without prior notice, and including after you have submitted your order.
                    </p>
                    <p>
                        We will similarly have no obligation to update, amend or clarify information in the Service or on any related website. This will include - without limitation - pricing information, except where it is required by law. No specified update or refresh date applied in the Service, or on any related website, should be understood to be an indication that all information in the Service or on any related website has been modified or updated.
                    </p>
                    <h2 class="visible-xs">SECTION 12 – PROHIBITED USES</h2>
                    <h5 class="hidden-xs">SECTION 12 – PROHIBITED USES</h5>
                    <p>
                        In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content for
                    </p>
                    <ol type="1">
                        <li>
                            Any unlawful purpose.
                        </li>
                        <li>
                            To solicit others to perform or participate in any unlawful acts.
                        </li>
                        <li>
                            Acts that violate any international, federal, provincial or state regulations, rules, laws, or local ordinances.
                        </li>
                        <li>
                            Infringement upon or violation of our intellectual property rights or the intellectual property rights of others.
                        </li>
                        <li>
                            Harassment, abuse, insult, harm, defaming, slandering, disparaging, intimidating, or discriminating based on gender,
                             sexual orientation, religion, ethnicity, race, age, national origin, or disability.
                        </li>
                        <li>
                            Submission of false or misleading information. 
                        </li>
                        <li>
                            Uploading or transmitting viruses or any other type of malicious code that can be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet.
                        </li>
                        <li>
                            Collecting or tracking the personal information of others.
                        </li>
                        <li>
                            Spamming, phishing, pharming, or any activity that involves pretext, spider, crawl, or scrape.
                        </li>
                        <li>
                            Uses related to any obscene or immoral purpose.
                        </li>
                        <li>
                            Interfering with or circumventing the security features of the Service or any related website, other websites, or the Internet.
                        </li>
                    </ol>
                    <p>
                        We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses listed above, as well as for any other activity that we deem to be inappropriate or malicious in nature.
                    </p>
                    <h2 class="visible-xs">SECTION 13 – DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</h2>
                    <h5 class="hidden-xs">SECTION 13 – DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</h5>
                    <p>We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure, or error-free.</p>
                    <p>We do not warrant or guarantee the accuracy or reliability of the results that may be obtained from the use of the service.</p>
                    <p>You agree that at any time we may remove the service for indefinite periods of time, or cancel the service at any time, without providing notice to you.</p>
                    <p>You hereby provide your express consent that your use of, or inability to use, the service is done at your own risk exclusively. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided ‘as is’ and ‘as available’ for your use. This is done without any representation, warranties or conditions of any kind, either express or implied, and will include all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement.</p>
                    <p>Understand that there will be no instance where staging.enhanceclub.com, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors will be liable for any injury, loss, or claim arising from your use of any of the service or any products procured using the service. This will also apply for any other claim related in any way to your use of the service or any product.</p>
                    <p>The same indemnity will apply to any direct, indirect, incidental, punitive, special, or consequential damages of any kind. This may include, without limitation, lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability, or otherwise.</p>
                    <p>This will also include, but not being limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service. This will still apply even if you were advised of their possibility.</p>
                    <p>Because some Provinces or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in these Provinces or jurisdictions our liability shall be limited to the maximum extent permitted by law.</p>

                    <h2 class="visible-xs">SECTION 14 – INDEMNIFICATION</h2>
                    <h5 class="hidden-xs">SECTION 14 – INDEMNIFICATION</h5>
                    <p>
                        You agree to indemnify, defend and hold the following parties or individuals harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party:
                    </p>
                    <ul>
                        <li>
                            staging.enhanceclub.com
                        </li>
                        <li>
                            Our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees.
                        </li>
                    </ul>
                    <h2 class="visible-xs">SECTION 15 – SEVERABILITY</h2>
                    <h5 class="hidden-xs">SECTION 15 – SEVERABILITY</h5>
                    <p>
                        Should any provision of these Terms of Service be determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law. Further, the unenforceable portion shall be deemed to be severed from these Terms of Service, and such determination will not affect the validity and enforceability of any other remaining provisions in any way.
                    </p>

                    <h2 class="visible-xs">SECTION 16 – TERMINATION</h2>
                    <h5 class="hidden-xs">SECTION 16 – TERMINATION</h5>
                    <p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.</p>
                    <p>
                        These Terms of Service are effective, and will be so without exception unless and until terminated by either you or us.
                        You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or by simply ceasing to use our site.
                    </p>
                    <p>
                        If in our sole judgment you fail to comply with any term or provision of these Terms of Service, or we suspect that you have failed to do so, then we also may terminate this agreement at any time without notice. You will remain liable for all amounts due up to and including the date of termination and failure to agree with that liability may lead us to deny you access to our Services (or any part thereof).
                    </p>
                    <h2 class="visible-xs">SECTION 17 – ENTIRE AGREEMENT</h2>
                    <h5 class="hidden-xs">SECTION 17 – ENTIRE AGREEMENT</h5>
                    <p>Our failure to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.</p>
                    <p>
                        These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us. It is to govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us.
                        This can include, but may not be limited to, any prior versions of the Terms of Service.
                    </p>
                    <p>Be aware as well that any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.</p>

                    <h2 class="visible-xs">SECTION 18 – GOVERNING LAW</h2>
                    <h5 class="hidden-xs">SECTION 18 – GOVERNING LAW</h5>
                    <p>These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of Canada.</p>

                    <h2 class="visible-xs">SECTION 19 – CHANGES TO TERMS OF SERVICE</h2>
                    <h5 class="hidden-xs">SECTION 19 – CHANGES TO TERMS OF SERVICE</h5>
                    <p>The most current version of the Terms of Service can be seen and reviewed at any time on this page, and as stated above we will update it with any changes in a timely manner to ensure that users can trust in the most current information being presented.</p>
                    <p>
                        We reserve the right, at our sole discretion, to update, change, or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes.
                        Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes your full acceptance and recognition of those changes.
                    </p>

                    <h2 class="visible-xs">SECTION 20 – CONTACT INFORMATION</h2>
                    <h5 class="hidden-xs">SECTION 20 – CONTACT INFORMATION</h5>
                    <p>Questions about the Terms of Service should be sent to us at <a href="mailto:info@enhanceclub.com">info@enhanceclub.com</a>.</p>

                </div>
            </div>
        </div>
    </div>
</div>
        
       <footer class="footer w-100">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h3>Enhance Club</h3>
                    <ul class="list-unstyled list-links">
                        <li>
                            <a class="" href="/">Home</a>
                        </li>

                        <li>
                            <a class="" href="/about">About us</a>

                        </li>

                        <li>
                            <a class="" href="/how-it-works">How it Works</a>

                        </li>
                        
                        <li>
                            <a class="" href="/blog">Learn</a>
                        </li>
                    </ul>
                </div>

                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h3>Products</h3>
                    <ul class="list-unstyled list-links">

    <li>

        <a href="/products/viagra-otc" class="">
            SPIKE<span class="viagra-gradient">VIAGRA</span>

        </a>

    </li>
    <li>
        <a href="/products/cialis-otc" class="">
            PLAY<span class="cialis-gradient">CIALIS</span>
        </a>
    </li>

    <li>
        <a href="/products/propecia-otc" class="">
            ARISE <span class="finasteride-gradient">FINASTERIDE</span>
        </a>

    </li>
</ul>
                   
                </div>

                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h3>Need help?</h3>
                    <ul class="list-unstyled list-links">
                        <li>
                            <a class="" href="/get-in-touch">Get in Touch</a>
                        </li>
                        <li>
                            <a class="" href="/faq">FAQs</a>
                        </li>
                    </ul>
                </div>

                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
                <div class="col-lg-2 ml-auto col-md-3 col-sm-6">
                    <h4>FOLLOW US</h4>
                    <ul class="list-unstyled social-media d-flex justify-content-sm-start justify-content-center">
                                <li><a href="https://www.facebook.com/enhanceclubnow" target="_blank"><img src="/content/images/facebook-icon.svg" alt="icon" /></a></li>
        <li><a href="http://twitter.com/enhanceclub" target="_blank"><img src="/content/images/twitter-icon.svg" alt="icon" /></a></li>
        <li><a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA" target="_blank"><img src="/content/images/youtube-icon.svg" alt="icon" /></a></li>
        <li><a href="http://instagram.com/enhanceclub" target="_blank"><img src="/content/images/instagram-icon.svg" alt="icon" /></a></li>



                    </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 col-sm-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.footer-content -->
        <div class="footer-copyright">
            <div class="row align-items-end text-md-left text-center">
                <div class="col-lg-7 col-md-6 order-md-3">
                    <ul class="list-unstyled mb-0 d-flex justify-content-center flex-wrap justify-content-md-end">

                        <li>
                            
                            <a class="" href="/shipping-and-returns">Shipping &amp; Returns</a>

                        </li>
                        
                        <li>
                            
                            <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>

                        </li>

                        <li>
                            
                            <a class="" href="/privacy-policy">Privacy Policy</a>

                        </li>
                        
                    </ul>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
                <div class="col-lg-2 col-md-3 my-md-0 my-4">
                    <img src="/content/images/footerlogo.svg" class="img-fluid footer-logo" alt="logo" />

                    <div class="text-center d-sm-none mt-4">
                        <a href="#wrapper"><img src="/content/images/backtotop.svg" alt="icon" /></a>
                    </div>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
                <div class="col-lg-3 col-md-3" style="position: relative;top: -3px;">
                    <p>All Rights Reserved © 2020</p>
                </div>
                <!-- /.col-lg-2 col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.footer-copyright -->
    </div>
    <!-- /.container -->
</footer>

    </div>
<script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js" integrity="sha256-6O5DljdGA6AiaEVC/Zn8pNLNbQGparYTI9091fGX64k=" crossorigin="anonymous"></script>
<script src="/scripts/fullscreenForm.js"></script>
<script src="/scripts/main.js"></script>
<script src="/bundles/customJs?v=YxuAoTmAZ6YixWaZUWsHZb6luRObVU4YvmPtjS0lnu41"></script>



</body>
</html>
