<div class="cta-box mb-3">
    <div class="cta-image">
        <img src="/content/images/products/product-item-generic-13412.png" alt="">
    </div>
    <div class="cta-text">
        <h5 class="mb-3">Start being the man you want to be!<br>Check out our products.</h5>
        <a href="/products" class="btn btn__secondary btn--rounded ">Visit our online store</a>
    </div>
</div>