<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--Live DB Server-->
  <connectionStrings>
    <add name="Connection" providerName="System.Data.SqlClient" connectionString="Data Source=nitro-rx-public-dev.cz70bb9isxww.ca-central-1.rds.amazonaws.com;Initial Catalog=vmo;User ID=admin;Password=$shark_tank4DBpass; Connect Timeout=45; MultipleActiveResultsets=True" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StoreFrontID" value="63" />
    <!--<add key="StoreFrontID" value="36" />-->
    <add key="StoreFrontCountryId" value="36" />
    <add key="AffiliateID" value="6609" />
    <add key="StoreFrontFax" value="1-800-501-4012" />
    <add key="StoreFrontLogo" value="active-logo.svg" />
    <add key="StoreFrontContact" value="1-844-836-2582" />
    <add key="StoreFrontName" value="Enhance Club" />
    <!--<add key="StoreFrontUrl" value="EnhanceClub" />-->
    <add key="StoreFrontAddress1" value=" PO Box 520" />
    <add key="StoreFrontAddress2" value="800-15355 24th Avenue" />
    <add key="StoreFrontAddress3" value="Surrey, BC Canada V4A 2H9" />
    <add key="StoreFrontUrl" value="staging.enhanceclub.com" />
    <add key="CustomerIdUploadDir" value="\UploadID\" />
    <add key="CustomerIdDocumentPrefix" value="IdDocument" />
    <add key="FreeShipShippingOption" value="3" />
    <add key="FlatRateShippingOption" value="79" />
    <add key="FlatRateShippingPrice" value="6.95" />
    <add key="FreeShippingThreshHold" value="100" />
    <add key="ShippingTimeFrame" value="5-7 business days" />
    <add key="StoreFrontEmailHeader" value="enhanceclub-email-header.jpg" />
    <add key="DebugMessageRecipient" value="rajivs@monark.com" />
    <add key="StoreFrontCustomerService" value="customerservice@enhanceclub.com" />
    <add key="StoreFrontSales" value="customerservice@enhanceclub.com" />
    <add key="SecurityInfoEnquiry" value="privacyofficer@enhanceclub.com" />
    <add key="StoreFrontWebsiteProblems" value="techsupport@enhanceclub.com" />
    <add key="StoreFrontMarketing" value="marketing@enhanceclub.com" />
    <add key="MailServerIP" value="smtp.office365.com" />
    <add key="MailServerPort" value="587" />
    <add key="UseSsl" value="true" />
    <add key="NoChargePaymentOption" value="33" />
    <add key="RefererCredit" value="50" />
    <add key="ReferredCredit" value="50" />
    <add key="MailServerIP" value="smtp.office365.com" />
    <add key="MailServerPort" value="587" />
    <add key="UseSsl" value="true" />
    <add key="WriteEmailAsFile" value="false" />
    <add key="StoreFrontInquiry" value="info@canadapharmacy.com" />
    <!--<add key="StoreFrontWebsiteProblems" value="techsupport@canadapharmacy.com" />-->
    <!--<add key="StoreFrontMarketing" value="marketing@canadapharmacy.com" />-->
    <!--<add key="StoreFrontSales" value="sales@canadapharmacy.com" />-->
    <!--<add key="StoreFrontCustomerService" value="customerService@EnhanceClub.com" />-->
    <!--Email server for sending error emails-->
    <add key="NotifyMailServerUserName" value="mailer@canadapharmacy.com" />
    <add key="NotifyMailServerPassword" value="Qac49340" />
    <add key="NotifyMailServerIP" value=" smtp.office365.com" />
    <add key="NotifyMailServerPort" value="587" />
    <add key="NotifyUseSsl" value="true" />
    <add key="NotifyWriteEmailAsFile" value="false" />
    <add key="FileLoction" value="@\logs\email\" />
    <!--<add key="SignupEmailFrom" value="info@EnhanceClub" />-->
    <!--<add key="SignupEmailFrom" value="info@canadapharmacy.com" />-->
    <add key="DebugMessageRecipient" value="rajivs@clientcareservice.com" />
    <add key="AllowedIP" value="127.0.0.1,205.200.79.114,208.181.49.33,208.181.49.37,184.68.23.58,208.181.49.60" />
    <!--environment controls various javascript and url prefix-->
    <add key="Environment" value="default" />
    <add key="EmailTemplatePath" value="~/Views/emailtemplates/" />
    <add key="ExitCoupon" value="WBEXITCANP5" />
    <add key="cdnUrl" value="https://staging.enhanceclub.com/" />
    <add key="useCdn" value="true" />
    <!--Key related to get ip address and country code for website users/visitors-->
    <add key="IpifyAPIUrl" value="http://api.ipify.org/" />
    <add key="IPStackAPIUrl" value="http://api.ipstack.com/" />
    <add key="IPStackAPIKey" value="50b6bdf4835a40682746485346278960" />
    <add key="ProductSizeImagePath" value="https://mvc.EnhanceClub/productsizeimages/" />
    <add key="AESEncryptionKey" value="at0J3JVWWNUE+fSywH1Fgc==" />
    <add key="PasswordRecoveryLinkExpiryTime" value="72" />
    <add key="EnableTax" value="true" />
    <!-- EmailSendFlag control if emails are fired, in debugging mode we can disable email send-->
    <add key="EmailSend" value="true" />
    <add key="FileLocation" value="https://mvc.EnhanceClub/productsizeimages/" />
    <add key="PrescriptionPrefix" value="Prescription" />
    <add key="PrescriptionUploadDir" value="\uploads-prescription\" />
    <add key="ProductImagePath" value="\content\images\products/" />
    <add key="ProductGenericImagePrefix" value="product-item-generic-" />
    <add key="ProductBrandImagePrefix" value="product-item-brand-" />
    <add key="EnableProductGeneric" value="true" />
    <add key="QuestionnaireTimeSpanDays" value="183" />
    <add key="AccessKeyId" value="AKIAUFA3CKADI35JHT6J" />
    <add key="SecretAccessKey" value="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" />
    <add key="TermForPractitioner" value="Clinician" />
    <!--start:  for secret manger-->
    <add key="AccessKeyId" value="AKIAS3SWQFP6AZ7CIUGE" />
    <add key="SecretAccessKey" value="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" />
    <add key="SecretManagerConnectionKey" value="ec-can-devdb-rds" />
    <add key="SecretManagerCognitoUserPoolKey" value="AWSCognitoPoolConfig_ec_store_front_dev" />
    <!--end:  for secret manger-->
    <!--start:  for s3 bucket manger-->
    <!--<add key="UploadS3BucketName" value="bucket-ec-uploads" />-->
    <add key="UploadS3BucketKeyId" value="AKIAS3SWQFP6AAFDTCE2" />
    <add key="UploadS3BucketSecretKey" value="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" />
    <add key="UploadS3CustomerIdDir" value="/CustomerId" />
    <add key="UploadS3CustomerIdDocumentPrefix" value="IdDocument" />
    <add key="AWS.S3.UseSignatureVersion4" value="true" />
    <add key="UploadS3CustomerIdDir" value="CustomerId" />
    <add key="UploadS3CustomerIdDocumentPrefix" value="IdDocument" />
    <add key="UploadS3PrescriptionDir" value="CustomerRx" />
    <add key="UploadS3PrescriptionPrefix" value="Prescription" />
    <add key="UploadS3QuestionPrescriptionDir" value="CustomerQuestionRx" />
    <add key="UploadS3QuestionPrescriptionPrefix" value="QuestionPrescription" />
    <add key="AWS.S3.UseSignatureVersion4" value="true" />
    <!--End:  for s3 bucket manger-->
    <add key="Environment" value="dev" />
    <add key="PayFlowUrlLive" value="payflowpro.paypal.com" />
    <add key="PayFlowUrlTest" value="pilot-payflowpro.paypal.com" />
    <add key="PaymentOptionCreditCardFk" value="26" />
    <add key="EnablePayment" value="false" />
    <add key="ShowProductBrandNameWithGeneric" value="1" />
    <add key="EnablePayment" value="true" />
    <add key="DirecPostAPIKeyDev" value="7EN3fkNr5WEU287fwWMXdQKRXB82HBv6" />
    <add key="DirecPostAPIKeyLive" value="7EN3fkNr5WEU287fwWMXdQKRXB82HBv6" />
    <add key="DirectPostAPIUrl" value="https://secure.nmi.com/api/transact.php" />
    <add key="SaveCreditCardDetails" value="false" />
    <add key="PaymenyTransactionType" value="auth" />
    <add key="DefaultPaymentOptionFk" value="1" />
    <add key="UploadS3BucketName" value="profileuploaddev" />
    <add key="DefaultPaymentOptionName" value="creditcard" />
    <add key="MailServerUserName" value="support@enhanceclub.com" />
    <add key="MailServerPassword" value="Welcome2021$$" />
    <add key="StoreFrontEnquiry" value="support@enhanceclub.com" />
    <add key="SignupEmailFrom" value="support@enhanceclub.com" />
    <add key="UpdateConsultationConsentForAllOrders" value="true" />
    <add key="InactiveProductLink" value="true" />
    <add key="EmailFromDisplayName" value="EnhanceClub Support" />
    <add key="GetInTouchEmailFrom" value="contactform@enhanceclub.com" />
    <add key="GetInTouchMailServerUserName" value="contactform@enhanceclub.com" />
    <add key="GetInTouchMailServerPassword" value="Welcome2021$$" />
    <add key="ProductSizeVisibleFrontEndOnly" value="false" />
    <!--start:  for privacy page-->
    <add key="PrivacyPolicyAddress1" value="Privacy Officer" />
    <add key="PrivacyPolicyAddress2" value="200 - 10233 153 Street" />
    <add key="PrivacyPolicyAddress3" value="Surrey, BC, V3R 0Z7" />
    <add key="PrivacyPolicyEmail" value="privacy@enhanceclub.com" />
    <add key="StoreFrontAddress1" value="Privacy Officer" />
    <add key="StoreFrontAddress2" value="203 - 1688 152nd Street" />
    <add key="StoreFrontAddress3" value="Surrey, BC, V4A 4N2 " />
    <add key="ApplicableLocation" value="CA" />
    <add key="PriceCurrency" value="CAD" />
    
    <add key="EnableBloodPressurePopup" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="EnhanceClub.WebUI" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="ShowEditCredentials" value="0" />

    <!-- Google reCAPTCHA-->
    <add key="EnableCaptcha" value="1" />
    <add key="reCAPTCHASiteKey" value="6LdbQvkaAAAAAF7Rz5ZvWdc4Y6pRzdHe9j4OenCy" />
    <add key="reCAPTCHASecretKey" value="6LdbQvkaAAAAAIN9zDflAN6x1jCKQbRjq8XR9o4V" />
    <add key="reCAPTCHATokenVerifyUri" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="reCAPTCHAScore" value="0.5" />
    <add key="Interval" value="5" />
    <add key="MaxEmailSentCount" value="3" />
    <add key="PaymentTransactionTypeCustomerCreditFk" value="9" />
    <add key="ShowMultipleShippingAddress" value="1" />
    <!-- id upload -max size limit - 4096KB(4MB)-->
    <add key="FileUploadSizeLimit" value="4096" />
    <add key="ShowHomePageDoctorSection" value="1" />
    <add key="CreditAvaliableLogic" value="1" />
    <add key="EnableRefill" value="1" />
    <add key="EnableImpactScript" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/get-started" timeout="30" />
    </authentication>
    <sessionState timeout="120" />
    <!--disable caching for local as it interferes with debugging-->
    <caching>
      <cache percentagePhysicalMemoryUsedLimit="10" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="cp-server" duration="0" location="None" varyByParam="*" noStore="true" />
          <!--only use for content that is dynamically generated and same to all users, never for user specific content-->
          <add name="cp-client" duration="0" location="None" varyByParam="*" noStore="true" />
          <!-- use for content that is specific to users (suitable for client cache) -->
          <add name="cp-serverClient" duration="0" location="None" varyByParam="*" noStore="true" />
          <!-- use for content that is static info pages -->
          <add name="cp-homePageCache" duration="10" location="None" varyByParam="*" noStore="true" />
          <!-- use for content that is static info pages -->
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <customErrors mode="Off" defaultRedirect="">
      <error statusCode="400" redirect="~/Error/NotFound" />
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/NotFound" />
    </customErrors>
    <!--<customErrors mode="Off" />-->
    <!--<customErrors defaultRedirect="GenericError.htm" mode="Off"></customErrors>-->
    <!--<customErrors mode="On" defaultRedirect="" >
      <error statusCode="400" redirect="~/HandleError/NotFound"  />
      <error statusCode="404" redirect="~/Error/NotFound"  />
      <error statusCode="500" redirect="~/HandleError/Site"  />
    </customErrors>-->
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!--Start: This is added to allow dots in Url for checkout step : Rajiv S-->
    <handlers>
      <add name="ApiURIs-ISAPI-Integrated-4.0" path="/order/checkout/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="for-products" path="/products/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--End: This is added to allow dots in Url for checkout step: Rajiv S-->
    <!--<httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace" defaultResponseMode="ExecuteURL">
      <clear/>
      <error statusCode="400" responseMode="ExecuteURL" path="/Error/ProgramError"/>
      <error statusCode="403" responseMode="ExecuteURL" path="/Error/ProgramError"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound"/>
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/ProgramError"/>
    </httpErrors>-->
    <rewrite>
      <rules>
        <clear />
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <!--I want to exclude unsubscribe url from lower case rule as decrypt will fail if encrypted param is changed to loer case-->
        <!--<rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{HTTP_URL}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        
        <rule name="redirect to www" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="EnhanceClub" />
          </conditions>
          <action type="Redirect" url="https://www.EnhanceClub/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" >
            <add input="{URL}" pattern="/customer/unsubscribe/" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        -->
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <!--<staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>-->
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>